[2021-03-07 13:43] maro-21 opened #1078 "! Restore polska.e-mapa.net"
Someone accidentally removed an important imagery for Poland "polska.e-mapa.net Buildings".
I don't know what happened, I can't find it, the file just disappeared. It was this: https://github.com/osmlab/editor-layer-index/commit/f5345a92c7801f1cb4e44346dfeec5d297c5b0d7

Please restore it because this is one of the most used imageries for Poland which we draw buildings from.

[2021-03-07 13:47] rbuffat commented on #1078
@maro-21 it seems it was removed in https://github.com/osmlab/editor-layer-index/pull/1064 @Asteliks

[2021-03-07 13:48] maro-21 opened #1079 "Multiple sources in Poland marked as best"
Someone set https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/pl/Geoportal2OrthophotomapHighQuality(aerialimage).geojson
as best imagery for Poland.

This imagery is from 2014!! Setting it as best for Poland will make people draw nonexistent buildings from old maps. We already have photos from 2020 which should be default.
Please remove it as best layer as well as change th

[2021-03-07 13:49] rbuffat commented on #1078
This PR was a follow up to https://github.com/osmlab/editor-layer-index/pull/1063 which added https://raw.githubusercontent.com/osmlab/editor-layer-index/gh-pages/sources/europe/pl/Geoportal2Ewidencjabudynk%C3%B3wWMS.geojson

This source is marked as an overlay.

![poland_buildings](https://user-images.githubusercontent.com/259530/110242253-7bbf1480-7f55-11eb-8a50-70be4c1608d0.png)

[2021-03-07 18:40] Asteliks commented on #1078
I can confirm everything is as it should be. The layer "polska.e-mapa.net Buildings" was from an old server and should have been an overlay from the beginning. As stated by @rbuffat the same layer from the proper server was introduced in https://github.com/osmlab/editor-layer-index/pull/1063 as [Geoportal 2: Ewidencja budynków WMS](https://raw.githubusercontent.com/osmlab/editor-layer-index/gh-pag

[2021-03-09 21:43] Asteliks commented on #1079
duplicate of https://github.com/openstreetmap/iD/issues/8383

[2021-03-10 00:14] eduardoaddad commented on #983
https://dados.gov.br/pagina/dados-abertos

The site license is under open data

Open data corresponds to the idea that certain data must be available for everyone to use and publish, without restrictions on copyrights and patents or other control mechanisms.

[2021-03-10 00:27] naoliv commented on #983
https://dados.gov.br/pagina/dados-abertos explains what is open data, but it doesn't specify a license for each available data.

Also note that they point to https://opendefinition.org/licenses/, with licenses considered open; some are not compatible with OpenStreetMap, even though they consider it open.

In the footer of the entire https://dados.gov.br/ site, for example, it says that `All conten

[2021-03-10 00:42] naoliv commented on #974
Sorry I forgot about this issue.
I filled a request in http://e-sic.al.gov.br, with protocol number `1951/2020` and the answer was:

This last part ("The specific requirement is attribution of the original source and sharing requirement under the same terms of use") makes the data non-free and incompatible with OpenStreetMap, as I can see.

The original PDF with their answer [can be seen here](htt

[2021-03-10 01:11] naoliv opened #1082 "IBGE layers are borked"
[IBGE Mapa de Setores Urbanos](https://raw.githubusercontent.com/osmlab/editor-layer-index/gh-pages/sources/south-america/br/IBGE_Setores_Urbanos.geojson) and [IBGE Mapa de Setores Rurais](https://raw.githubusercontent.com/osmlab/editor-layer-index/gh-pages/sources/south-america/br/IBGE_Setores_Rurais.geojson) are borked, due to https://blog.mapbox.com/deprecating-studio-classic-styles-d8892ac38cb

[2021-03-10 01:22] naoliv commented on #1082
@tmpsantos

[2021-03-10 01:32] tmpsantos commented on #1082
Hi @naoliv, thanks for flagging. I'm wondering if this layer is useful at all after the work you have done with the shapefiles. Should we deprecate them?

[2021-03-10 01:35] tarcisiooliveira commented on #1082
It's not deprecated, i use there.
Thanks @naoliv

[2021-03-10 01:45] naoliv commented on #1082
The [Cartas Topográficas do Exército Brasileiro](https://raw.githubusercontent.com/osmlab/editor-layer-index/gh-pages/sources/south-america/br/Brazilian_Army_Topographic_Maps.geojson) layer is very similar to IBGE Mapa de Setores Rurais.

But [IBGE Nomes de Ruas](https://raw.githubusercontent.com/osmlab/editor-layer-index/gh-pages/sources/south-america/br/IBGE_Street_Names.geojson) and IBGE Mapa d

[2021-03-10 08:45] matkoniecz commented on #1079
Not a duplicate as change is required in editor-layer-index repository.

[2021-03-10 10:01] Asteliks commented on #1079
Look second dot here: https://github.com/openstreetmap/iD/issues/8383#issue-823929447

and the replay to the second dot here: https://github.com/openstreetmap/iD/issues/8383#issuecomment-794488081

[2021-03-10 10:49] matkoniecz opened #1083 "Make clear that "Geoportal 2: High Resolution" may contain ancient photos"
https://github.com/openstreetmap/iD/issues/8383#issuecomment-795221136

This info is very useful and not currently not clear at all.

So I propose to use “Geoportal 2: High Resolution Orthophotomap, may be old and outdated (aerial image)” as layer name

And rename  "Geoportal 2: Orthophotomap (aerial image)" to  "Geoportal 2: Orthophotomap (latest aerial imagery)"

[2021-03-12 10:46] rbuffat commented on #1079
First, thanks all for your feedback. @matkoniecz @maro-21 @Asteliks

Currently, there are multiple sources in Poland that are marked as best:

[code]

The definition for "best" in ELIs schema is `Whether this imagery is the best source for the region`, which can be interpreted differently. The main issue here seems to be that Geoportal2Orthophotomap(aerialimage).geojson contains the latest imagery

[2021-03-12 11:13] matkoniecz commented on #1079
That would not help as both are mosaic of imagery from wildly different dates

[2021-03-12 11:25] Asteliks commented on #1079
The problem with start and end dates is that:
- we do not know the start and end dates
- because these layers are technically aggregators start and end dated may be different for every region
- someone would need to update the start and end date every time the source changes
- we do not know when these layers are updated

[2021-03-12 11:27] matkoniecz commented on #1079
http://www.gugik.gov.pl/aktualnosci/2019/13.08.2018-informacje-o-aktualnosci-ortofotomapy-w-geoportalu (though geoportal.gov.pl website is partially down for me)

[2021-03-12 11:30] Asteliks commented on #1079
Hey if you want to analyze every tile for the entire country ones a month to check the dates, sure it can be done but it will be time consuming

[2021-03-12 12:12] matkoniecz commented on #1079
I am not claiming that it is a good idea ( https://github.com/osmlab/editor-layer-index/issues/1079#issuecomment-797424009 ), just wanted to let people know that it is rare case of aerial imagery with exact capture dates being available. What sometimes is useful.

[2021-03-13 19:52] rbuffat commented on #1083
@matkoniecz Would you be willing to create a PR or would you prefer if somebody else would create one?

[2021-03-13 19:56] rbuffat commented on #974
@naoliv Thanks for following up!

[2021-03-13 19:56] #974 closed, assigned to nobody

[2021-03-14 07:39] matkoniecz commented on #1083
@rbuffat Yes, I was planning this. Though it is not high on my TODO list given large number of PRs waiting for review ( I am skipping ones with waitfor ) - see https://github.com/osmlab/editor-layer-index/pulls?q=is%3Apr+is%3Aopen+-label%3A%22waitfor+-+license+%2F+usage+permission%22+-label%3A%22waitfor+-+other%22

[2021-03-15 19:50] rbuffat commented on #1083
@matkoniecz This would be great! I would not be discouraged by this fact. Most of the PRs that get stuck are complicated with respect to the license situation. "Trivial" changes like renaming something should be mergeed a lot quicker.

[2021-03-15 19:59] matkoniecz commented on #1083
https://github.com/osmlab/editor-layer-index/pulls?q=is%3Apr+is%3Aopen+-label%3A%22waitfor+-+license+%2F+usage+permission%22+-label%3A%22waitfor+-+other%22 excludes PRs tagged with `"waitfor - license / usage permission` and `waitfor - other` labels.

[2021-03-15 20:03] rbuffat commented on #983
@naoliv What is your opinion about this data?

There seems to be new 2019 BC250 data available. If the data is considered compatible with OSM we should update the sources or otherwise we should remove them.

There seems to be different mentions of IBGE in the osm wiki:

[2021-03-15 20:22] rbuffat commented on #1083
Not sure what you want to say. Most of them are quite complex.

[2021-03-15 20:52] rbuffat commented on #1074
Personally, I would vote for having a separate type mvt as it looks as the data returned are completely different from images.

[2021-03-19 11:41] simonpoole opened #1092 "AGIS 2020 question"
@rbuffat the 2020 AGIS imagery for the canton Aargau was released on the 10th. The entry for the 2019 imagery that is proxied by us (SOSM) actually points to a WMS server that shows the "current" imagery, so modulo stuff that is cached it is now showing the 2020 data.

As a tendency I would change the current 2019 entry on our side to actually show only 2019 data and add a 2020 entry for the new i

[2021-03-19 17:19] rbuffat commented on #1092
@simonpoole sounds good to me!

[2021-03-19 17:29] #1092 closed, assigned to nobody

[2021-03-19 21:26] rbuffat commented on #963
Salut @Binnette
I implemented that the link now should jump to the position of the map when clicked. However, it seems that iD does not open always the custom layer passed with the URL. Not sure if this is something I introduced or there is something else going on.

[2021-03-19 22:13] rbuffat commented on #1061
done

[2021-03-19 22:13] #1061 closed, assigned to nobody

[2021-03-27 09:09] Binnette commented on #963
Hi @rbuffat, thank for your fix. Here is the documentation for the url parameters for id https://github.com/openstreetmap/iD/blob/develop/API.md

And yes, there are still some errors in editor-layer-index links:

- Url: https://www.openstreetmap.org/edit?editor=id&background=custom:https://{switch:a,b,c}.tile.openstreetmap.fr/route500/{zoom}/{x}/{y}.png#map=18/45.18956/5.74343
  - Should be: https

[2021-03-27 15:02] mzaki-jp opened #1102 "please update the polygon for jp/JapanGSIStandardMap.geojson"
The polygon for jp/JapanGSIStandardMap.geojson is narrower than the supported region.
Please update the polygon as same as that for jp/JapanGSIseamlessphotoImagery.geojson

[2021-03-28 13:44] rbuffat commented on #963
@Binnette Thanks for the link to the API. I was not aware that iD has an API and did not think about looking for one!

I'm a bit confused:

This opens iD at the correct location but no imagery:

https://www.openstreetmap.org/edit?editor=id&background=custom%3Ahttps%3A%2F%2Fwww.geoservice.apps.be.ch%2Fgeoservice2%2Fservices%2Fa42geo%2Fa42geo_hoehenwms_d_fk%2FMapServer%2FWMSServer%3FLAYERS%3DGEODB.L

[2021-03-28 18:16] Binnette commented on #963
Thank you for opening this issue 👍 Let's wait for an answer from the iD maintainers/developers 😊

[2021-03-28 18:51] #1102 closed, assigned to nobody

[2021-03-28 18:52] rbuffat commented on #1102
@mzaki-jp Thanks for this input. https://github.com/osmlab/editor-layer-index/pull/1104 replaced the geometry of JapanGSIStandardMap.geojson with the one of JapanGSIseamlessphotoImagery.geojson.

[2021-03-28 18:55] rbuffat commented on #1078
@maro-21 I'm closing this issue as there was no answer for 21 days. Please leave a comment if you feel that the new imagery source is not equivalent and think the old one should be restored.

[2021-03-28 18:55] #1078 closed, assigned to nobody

[2021-03-28 19:17] #1083 closed, assigned to nobody

[2021-03-28 19:20] rbuffat commented on #1079
I merged the proposition of @matkoniecz in https://github.com/osmlab/editor-layer-index/issues/1083, thus I'm closing this issue for now.

@Asteliks @maro-21 @matkoniecz Please leave a comment or PR if you feel that more / other needs to be done.

[2021-03-28 19:20] #1079 closed, assigned to nobody

[2021-03-28 19:27] rbuffat commented on #1082
Just to summarize the current situation:

Both of these sources point to the mapbox account tmpsantos, which I assume is managed by @tmpsantos
Will these sources be restored or should they be removed from ELI?

[2021-03-28 19:28] rbuffat commented on #1082
FYI, there seems to be quite a lot of broken IBGE sources in ELI at the moment: https://rbuffat.github.io/eli_watchdog/ -> south-america -> south-america / br

[2021-03-28 20:17] matkoniecz commented on #1079
I would consider removing "best" from high resolution imagery, as it requires some ability to use it properly.

[2021-03-29 14:27] tmpsantos commented on #1082
Let's remove them, they won't be restored.

[2021-03-29 20:23] rbuffat commented on #907
@jetta20162 It looks as it was given explicit permission for the existing eox.at data:

https://wiki.openstreetmap.org/wiki/Eox.at

Thus before other datasets from eox.at can be added somebody needs to contact them first for permission.

CC @simonpoole

[2021-03-29 20:25] rbuffat commented on #905
No source contains the HTTP headers in the URL anymore. However, at some point, the schema should be changed as it is not impossible that a source could require more than one HTTP header to be set.

[2021-03-29 20:25] #905 closed, assigned to nobody

[2021-03-29 20:28] rbuffat commented on #859
The strict check now includes most of the tests of the watchdog. https://rbuffat.github.io/eli_watchdog is still running. The number of broken sources went down from ~120 to <50 at the moment.

[2021-03-29 20:28] #859 closed, assigned to nobody

[2021-03-29 20:45] rbuffat commented on #845
Can we close this issue or is this still a problem?

[2021-03-30 14:20] eduardoaddad commented on #1082
Could restore these layers, it is very useful for an OpenStreetMap Brasilieira community ?

[2021-03-30 15:07] tmpsantos commented on #1082
@eduardoaddad I know :-(

But another thing we could do is regenerate a better map now that the vector data that this raster map is based at is now available. @naoliv is this something you can help?

[2021-03-30 20:26] naoliv commented on #1082
Unfortunately I am overwhelmed with life lately.
I even intended to create more layers with other data from IBGE.
But it won't be possible for now.

[2021-03-30 22:11] tmpsantos commented on #1082
@naoliv can you drop some pointers about what would be the source data to recreate this layer using vector data? I heard you have done some prior art in this direction. This would be extremely helpful for anyone wanting to move this forward.

[2021-04-04 00:43] cicku opened #1112 "Virginia Imagery layer is down"
![image](https://user-images.githubusercontent.com/686438/113495140-41e21f00-94bd-11eb-8dbb-c76e8c18d94a.png)

[2021-04-04 19:19] rbuffat commented on #1112
@cicku
The source was updated 29 days ago: https://github.com/osmlab/editor-layer-index/pull/1076
It looks as iD still uses the old URL. Typically iD only updates the imagery with a new release.

[2021-04-09 16:30] ZelabDK opened #1115 "SDFE imagery of the province of Denmark needs to be updated"
When editing in Denmark, the satellite imagery from SDFE is most offen used. It's a free satellite imagery service provided by the state.
Every year a new map is released, the current one is 2020, OSM is using a outdated version

## URL of the imagery
https://sdfe.dk/saadan-arbejder-vi-med-data/satellitbilleder/

https://kortforsyningen.dk/indhold/webservice-liste

## Two letter country code
DK

#

[2021-04-10 15:05] cicku commented on #1112
Ok let me wait for another 3 months to use that layer.

I'm fine with that.

[2021-04-10 15:05] #1112 closed, assigned to nobody

[2021-04-11 12:24] rbuffat commented on #1112
@cicku I also find this frustrating. I don't see a reason why iD could not be redeployed with an updated ELI every few weeks. But this is up to the people that manage the deployment of iD and I don't know who exactly this is. Maybe there are good reasons for this that I'm not aware of.

@grischard maybe you know more about this?

Meanwhile, it is quite easy to get a local version of iD running on

[2021-04-12 18:52] rbuffat commented on #1048
Closed with https://github.com/osmlab/editor-layer-index/pull/1058

[2021-04-12 18:52] #1048 closed, assigned to nobody

[2021-04-17 15:26] matkoniecz commented on #845
seems to be fixed

[2021-04-17 15:26] #845 closed, assigned to nobody

[2021-05-09 16:35] rbuffat commented on #1115
@ZelabDK  Thanks for creating this issue.

The [license terms](https://dataforsyningen.dk/asset/PDF/rettigheder_vilkaar/GeoDanmark%20-%20vilk%C3%A5r%20for%20brug%20af%20frie%20geografiske%20data.pdf) (google translate) state the following:
[code]

There seems to be already an entry for SDFE in https://wiki.openstreetmap.org/wiki/Contributors#Denmark So this should be fine if this way of attributio

[2021-05-09 18:35] rbuffat commented on #1000
Solved with https://github.com/osmlab/editor-layer-index/pull/1001

[2021-05-09 18:35] #1000 closed, assigned to nobody

[2021-05-09 18:44] rbuffat commented on #769
@grischard @ilmaisin Is this still an open issue or can this issue be closed?

[2021-05-09 18:46] #769 closed, assigned to nobody

[2021-05-09 19:39] simonpoole commented on #769
AS this has turned up here https://github.com/osmlab/editor-layer-index/issues/769 again. Just a last try to clarify, there are two distinct cases here:

- use of CC BY imagery for tracing: the OSMF has typically for good form asked for a waiver of any rights in the traced data, but even if that isn't forthcoming it would be a bit of an uphill battle for the source to claim infringement (note this

[2021-05-11 04:24] ilmaisin commented on #769
Yes, this is still pretty much an open issue, because for some reasons OSM does not want to attribute NLS-FI properly, choosing to stubbornly stick into obsolete attributions instead.

[2021-05-20 15:53] boothym commented on #1057
@TurnrDev interesting, didn't know this layer was available for use in OSM. Looks like a updated / improved version of OSSV. Has a PR been created?

[2021-05-20 20:29] dafadllyn opened #1145 "Please add Canton of Bern: building polygons"
Please add Canton of Bern: building polygons

## URL of the imagery
https://tile.osm.ch/bbe/{zoom}/{x}/{y}.png

## Two letter country code
CH

## Desired layer name
Kanton Bern: Gebäudegrundrisse

## License
Permission: https://wiki.openstreetmap.org/wiki/Canton_Berne_Building_Polygons

## Is the license compatible with OSM?
Yes

## Attribution (text, URL, required?)
?

## Privacy policy (URL)
???

[2021-05-23 14:36] eehpcm opened #1146 "Github has changed userspace links"
As of about 1 month ago, Github stopped automatic redirects of userspace links.  The link [https://osmlab.github.com/editor-layer-index](https://osmlab.github.com/editor-layer-index) at the end of README.md no longer works.  It should be changed to [https://osmlab.github.io/editor-layer-index](https://osmlab.github.io/editor-layer-index/).

[2021-05-27 20:18] TurnrDev commented on #1057
A PR hasn't - I'll make one now

[2021-06-01 19:31] #1146 closed, assigned to nobody

[2021-06-03 19:42] #1057 closed, assigned to nobody

[2021-06-06 01:02] rbuffat opened #1159 "[Watchdog] Imagery "Berlin/Geoportal DOP20RGB (2018)": sources/europe/de/Berlinaerialphotograph2018.geojson broken"
Watchdog failed for 5 consecutive days for:
"Berlin/Geoportal DOP20RGB (2018)" -> [sources/europe/de/Berlinaerialphotograph2018.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Berlinaerialphotograph2018.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,15,16,17,18) Tiles might not be present at tested location: 13.386991664389448,52.50018

CC

[2021-06-06 01:02] rbuffat opened #1160 "[Watchdog] Imagery "Berlin/Geoportal DOP20RGB (2019)": sources/europe/de/Berlinaerialphotograph2019.geojson broken"
Watchdog failed for 5 consecutive days for:
"Berlin/Geoportal DOP20RGB (2019)" -> [sources/europe/de/Berlinaerialphotograph2019.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Berlinaerialphotograph2019.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,15,16,17,18) Tiles might not be present at tested location: 13.386991664389448,52.50018

CC

[2021-06-06 01:02] rbuffat opened #1161 "[Watchdog] Imagery "Berlin/Geoportal TrueDOP20RGB (2020)": sources/europe/de/Berlin-2020-TrueDOP.geojson broken"
Watchdog failed for 5 consecutive days for:
"Berlin/Geoportal TrueDOP20RGB (2020)" -> [sources/europe/de/Berlin-2020-TrueDOP.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Berlin-2020-TrueDOP.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,17,18,19,20) Tiles might not be present at tested location: 13.394210713689482,52.500895

CC contribut

[2021-06-06 01:02] rbuffat opened #1162 "[Watchdog] Imagery "Berlin/Geoportal DOP20RGB (2014)": sources/europe/de/Berlinaerialphotograph2014.geojson broken"
Watchdog failed for 5 consecutive days for:
"Berlin/Geoportal DOP20RGB (2014)" -> [sources/europe/de/Berlinaerialphotograph2014.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Berlinaerialphotograph2014.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,15,16,17,18) Tiles might not be present at tested location: 13.408565545180654,52.5100149999

[2021-06-06 01:02] rbuffat opened #1163 "[Watchdog] Imagery "Berlin/Geoportal DOP20CIR (2016 infrared)": sources/europe/de/Berlinaerialphotograph2016infrared.geojson broken"
Watchdog failed for 5 consecutive days for:
"Berlin/Geoportal DOP20CIR (2016 infrared)" -> [sources/europe/de/Berlinaerialphotograph2016infrared.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Berlinaerialphotograph2016infrared.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,15,16,17,18) Tiles might not be present at tested location: 13.3869

[2021-06-06 01:02] rbuffat opened #1164 "[Watchdog] Imagery "Berlin/Geoportal DOP20RGB (2015)": sources/europe/de/Berlinaerialphotograph2015.geojson broken"
Watchdog failed for 5 consecutive days for:
"Berlin/Geoportal DOP20RGB (2015)" -> [sources/europe/de/Berlinaerialphotograph2015.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Berlinaerialphotograph2015.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,15,16,17,18) Tiles might not be present at tested location: 13.387118172414148,52.5001550000

[2021-06-06 01:02] rbuffat opened #1165 "[Watchdog] Imagery "Berlin/Geoportal DOP20RGB (2017)": sources/europe/de/Berlinaerialphotograph2017.geojson broken"
Watchdog failed for 5 consecutive days for:
"Berlin/Geoportal DOP20RGB (2017)" -> [sources/europe/de/Berlinaerialphotograph2017.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Berlinaerialphotograph2017.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,15,16,17,18) Tiles might not be present at tested location: 13.386991664389448,52.50018

CC

[2021-06-06 01:02] rbuffat opened #1166 "[Watchdog] Imagery "Berlin/Geoportal DOP20RGB (2016)": sources/europe/de/Berlinaerialphotograph2016.geojson broken"
Watchdog failed for 5 consecutive days for:
"Berlin/Geoportal DOP20RGB (2016)" -> [sources/europe/de/Berlinaerialphotograph2016.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Berlinaerialphotograph2016.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,15,16,17,18) Tiles might not be present at tested location: 13.386991664389448,52.50018

CC

[2021-06-07 19:29] rbuffat commented on #1166
CC @jochenklar (Based on https://www.codefor.de/projekte/fis-broker/)

[2021-06-07 20:26] rbuffat commented on #1165
Imagery seems to work again.

[2021-06-07 20:26] rbuffat commented on #1166
Imagery seems to work again.

[2021-06-07 20:26] rbuffat commented on #1164
Imagery seems to work again.

[2021-06-07 20:26] #1165 closed, assigned to nobody

[2021-06-07 20:26] rbuffat commented on #1163
Imagery seems to work again.

[2021-06-07 20:26] #1164 closed, assigned to nobody

[2021-06-07 20:26] rbuffat commented on #1162
Imagery seems to work again.

[2021-06-07 20:26] #1162 closed, assigned to nobody

[2021-06-07 20:26] #1163 closed, assigned to nobody

[2021-06-07 20:26] rbuffat commented on #1161
Imagery seems to work again.

[2021-06-07 20:26] #1161 closed, assigned to nobody

[2021-06-07 20:26] rbuffat commented on #1160
Imagery seems to work again.

[2021-06-07 20:26] rbuffat commented on #1159
Imagery seems to work again.

[2021-06-07 20:26] #1160 closed, assigned to nobody

[2021-06-07 20:26] #1159 closed, assigned to nobody

[2021-06-07 20:29] rbuffat commented on #1166
The watchdog script seems not yet to work as intended. The tiles.codefor.de server still returns "502 Bad Gateway".

[2021-06-07 21:08] #1145 closed, assigned to nobody

[2021-06-08 01:03] rbuffat opened #1168 "[Watchdog] Imagery "Ortofotos Litoral DGT 2014-2015 (WMS)": sources/europe/pt/OrtofotosLitoralDGT2014-2015(WMS).geojson broken"
Watchdog failed for 5 consecutive days for:
"Ortofotos Litoral DGT 2014-2015 (WMS)" -> [sources/europe/pt/OrtofotosLitoralDGT2014-2015(WMS).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pt/OrtofotosLitoralDGT2014-2015(WMS).geojson)

Reason:
Error: WMS -: Error: Could not parse XML.
Error: WMS 1.3.0: Error: Could not parse XML.
Error: WMS 1.1.1: Error: Could not

[2021-06-08 07:51] polarbearing commented on #1166
@jochenklar is the operator, @tordans can maintain but cannot access the server actually. We keep trying to reach the operator.

[2021-06-09 19:51] rbuffat commented on #1166
Thanks for the heads-up, @polarbearing.

[2021-06-10 05:37] AntMadeira opened #1170 "Remove Ortofotos DGRF 2004-2006 (WMS)"
The image layer from Ortofotos DGRF 2004-2006 (WMS) [Portugal] is no longer available.

I think it's better to remove it from iD.

Regards.

[2021-06-10 15:23] AntMadeira commented on #850
The license is the same that was used for years in iD.
The Portuguese community sent the license for approval with Guillaume, from LWG, and it was approved.

So, is it possible to add these layers to iD?
https://snig.dgterritorio.gov.pt/rndg/srv/por/catalog.search#/metadata/daf5479d-29c8-4e0c-b7b8-0e1791891186 [this one should substitute the non working [Ortofotos DGRF 2004-2006 (WMS)](https://git

[2021-06-10 20:00] rbuffat opened #1172 "mapproxy.openstreetmap.se not reachable"
It looks as openstreetmap.se is not reachable for more than a year ([Archive.org has the last entry from April 7th 2020](https://web.archive.org/web/2020*/http://openstreetmap.se)).

There are currently 3 sources pointing to this server: https://github.com/osmlab/editor-layer-index/search?q=mapproxy.openstreetmap.se

Does somebody know if this server will come back from the dead eventually or has

[2021-06-10 20:21] #850 closed, assigned to nobody

[2021-06-11 00:41] rbuffat commented on #1168
Imagery seems to work again.

[2021-06-11 00:41] #1168 closed, assigned to nobody

[2021-06-11 03:08] NKAmapper commented on #1172
https://github.com/karlwettin/carto-style-hydda/issues/3

@karlwettin

[2021-06-11 05:59] #1170 closed, assigned to nobody

[2021-06-15 00:41] rbuffat commented on #1166
Imagery seems to work again.

[2021-06-15 00:41] #1166 closed, assigned to nobody

[2021-06-21 15:09] cicku opened #1178 "IN USA incorrect imagery boundary"
https://www.openstreetmap.org/edit#map=18/38.66932/-86.90555

Layer: IndianaMap Orthoimagery 2018

![image](https://user-images.githubusercontent.com/686438/122785135-19c6b880-d281-11eb-8d66-776777f58026.png)

[2021-06-24 00:36] rbuffat opened #1179 "[Watchdog] Imagery "South Tyrol Topomap": sources/europe/it/SouthTyrolTopomap.geojson broken"
Watchdog failed for 5 consecutive days for:
"South Tyrol Topomap" -> [sources/europe/it/SouthTyrolTopomap.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/SouthTyrolTopomap.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,17,18,19,20) Tiles might not be present at tested location: 11.22990796612587,46.655735

CC contributors to this imagery:
@

[2021-06-27 12:51] LySioS opened #1181 "Add CyclOSM layer"
Hi everyone,
The requested feature is in the title.

Excuse me if this issue report is not good enough, this is my first time.

Thanks for your work.
Lysios

## URL of the imagery
I think that's the one > `https://{s}.tile-cyclosm.openstreetmap.fr/[cyclosm|cyclosm-lite]/{z}/{x}/{y}.png`

## Two letter country code
world

## Desired layer name
CyclOSM

## Licenses
[https://github.com/cyclosm/cyclos

[2021-06-28 00:44] rbuffat opened #1182 "[Watchdog] Imagery "Canton de Génève, MNA RELIEF OMBRE TERRAIN 2014 (SITG)": sources/europe/ch/Canton_de_Geneve_dtm_2014.geojson broken"
Watchdog failed for 5 consecutive days for:
"Canton de Génève, MNA RELIEF OMBRE TERRAIN 2014 (SITG)" -> [sources/europe/ch/Canton_de_Geneve_dtm_2014.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/ch/Canton_de_Geneve_dtm_2014.geojson)

Reason:
Error: WMS -: Error: Could not parse XML.
Error: WMS 1.3.0: Error: Could not parse XML.
Error: WMS 1.1.1: Error: Could no

[2021-06-28 00:44] rbuffat opened #1183 "[Watchdog] Imagery "Canton de Génève, MNA RELIEF OMBRE SURFACE 2014 (SITG)": sources/europe/ch/Canton_de_Geneve_dsm_2014.geojson broken"
Watchdog failed for 5 consecutive days for:
"Canton de Génève, MNA RELIEF OMBRE SURFACE 2014 (SITG)" -> [sources/europe/ch/Canton_de_Geneve_dsm_2014.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/ch/Canton_de_Geneve_dsm_2014.geojson)

Reason:
Error: WMS -: Error: Could not parse XML.
Error: WMS 1.3.0: Error: Could not parse XML.
Error: WMS 1.1.1: Error: Could no

[2021-06-29 16:23] #1183 closed, assigned to nobody

[2021-06-30 00:42] rbuffat commented on #1182
Imagery seems to work again.

[2021-06-30 00:42] #1182 closed, assigned to nobody

[2021-07-11 00:43] rbuffat opened #1186 "[Watchdog] Imagery "BD Carthage": sources/europe/fr/BDCarthage.geojson broken"
Watchdog failed for 5 consecutive days for:
"BD Carthage" -> [sources/europe/fr/BDCarthage.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/BDCarthage.geojson)

Reason:
Error: No zoom level reachable. (Tested: 6,7,8,9,17,18,19,20) Tiles might not be present at tested location: 0.8649189002685986,46.30642

CC contributors to this imagery:
@rbuffat, @Marc-marc-ma

[2021-07-11 00:43] rbuffat opened #1187 "[Watchdog] Imagery "BD Topo": sources/europe/fr/BD-Topo.geojson broken"
Watchdog failed for 5 consecutive days for:
"BD Topo" -> [sources/europe/fr/BD-Topo.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/BD-Topo.geojson)

Reason:
Error: No zoom level reachable. (Tested: 3,4,5,6,17,18,19,20) Tiles might not be present at tested location: 55.52696101717855,-21.13467755

CC contributors to this imagery:
@Olyon

[2021-07-11 00:43] rbuffat opened #1188 "[Watchdog] Imagery "Route 500": sources/europe/fr/Route500.geojson broken"
Watchdog failed for 5 consecutive days for:
"Route 500" -> [sources/europe/fr/Route500.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/Route500.geojson)

Reason:
Error: No zoom level reachable. (Tested: 12,13,14,15,17,18,19,20) Tiles might not be present at tested location: 0.8649189002685986,46.30642

CC contributors to this imagery:
@rbuffat, @Marc-marc-marc

[2021-07-11 00:43] rbuffat opened #1189 "[Watchdog] Imagery "BANO": sources/europe/fr/BANO.geojson broken"
Watchdog failed for 5 consecutive days for:
"BANO" -> [sources/europe/fr/BANO.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/BANO.geojson)

Reason:
Error: No zoom level reachable. (Tested: 12,13,14,15,17,18,19,20) Tiles might not be present at tested location: -60.999952248360714,14.634522650000001

CC contributors to this imagery:
@Klumbumbus, @Olyon, @rbuff

[2021-07-11 16:11] don-vip opened #1190 "ORTOS_DGT_2018_WMS URL is wrong"
Europe/pt ORTOS_DGT_2018_WMS uses same URL as ORTOS_DGRF_2004_06:

https://ortos.dgterritorio.gov.pt/wms-inspire/ortos2004-2006?LAYERS=Ortos2004-2006-RGB&STYLES=default&FORMAT=image/jpeg&CRS={proj}&WIDTH={width}&HEIGHT={height}&BBOX={bbox}&VERSION=1.3.0&SERVICE=WMS&REQUEST=GetMap

See JOSM ORTOS_DGT_2018 entry for correct link.

[2021-07-11 16:18] don-vip opened #1191 "OS-OpenMap_Local_2016_04 has misleading id"
Europe/gb OS-OpenMap_Local_2016_04 is clearly for 2021 data, as per its name, date and URL but the id makes us think it's 2016 data.

[2021-07-12 00:42] rbuffat opened #1192 "[Watchdog] Imagery "Volta": sources/europe/fr/Volta.geojson broken"
Watchdog failed for 5 consecutive days for:
"Volta" -> [sources/europe/fr/Volta.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/Volta.geojson)

Reason:
Error: No zoom level reachable. (Tested: 6,7,8,9,17,18,19,20) Tiles might not be present at tested location: 0.864918883483786,46.30642

CC contributors to this imagery:
@Olyon

[2021-07-12 18:05] Marc-marc-marc commented on #1189
temporary failure related to https://github.com/osm-fr/infrastructure/issues/312

[2021-07-12 18:06] Marc-marc-marc commented on #1188
temporary failure related to https://github.com/osm-fr/infrastructure/issues/312

[2021-07-12 18:06] Marc-marc-marc commented on #1186
temporary failure related to https://github.com/osm-fr/infrastructure/issues/312

[2021-07-13 00:43] rbuffat opened #1193 "[Watchdog] Imagery "Częstochowa: Orthophotomap 2014 (aerial image)": sources/europe/pl/CzstochowaOrthophotomap2014(aerialimage).geojson broken"
Watchdog failed for 5 consecutive days for:
"Częstochowa: Orthophotomap 2014 (aerial image)" -> [sources/europe/pl/CzstochowaOrthophotomap2014(aerialimage).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/CzstochowaOrthophotomap2014(aerialimage).geojson)

Reason:
Error: Layers 'Orto_2014' not advertised by WMS GetCapabilities request. In rare cases WMS server d

[2021-07-13 00:43] rbuffat opened #1194 "[Watchdog] Imagery "Częstochowa: Orthophotomap 2015 (aerial image)": sources/europe/pl/CzstochowaOrthophotomap2015(aerialimage).geojson broken"
Watchdog failed for 5 consecutive days for:
"Częstochowa: Orthophotomap 2015 (aerial image)" -> [sources/europe/pl/CzstochowaOrthophotomap2015(aerialimage).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/CzstochowaOrthophotomap2015(aerialimage).geojson)

Reason:
Error: Layers 'Orto_2015' not advertised by WMS GetCapabilities request. In rare cases WMS server d

[2021-07-13 00:43] rbuffat opened #1195 "[Watchdog] Imagery "Częstochowa: Orthophotomap 2011 (aerial image)": sources/europe/pl/CzstochowaOrthophotomap2011(aerialimage).geojson broken"
Watchdog failed for 5 consecutive days for:
"Częstochowa: Orthophotomap 2011 (aerial image)" -> [sources/europe/pl/CzstochowaOrthophotomap2011(aerialimage).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/CzstochowaOrthophotomap2011(aerialimage).geojson)

Reason:
Error: Layers 'orto_2011' not advertised by WMS GetCapabilities request. In rare cases WMS server d

[2021-07-13 00:43] rbuffat opened #1196 "[Watchdog] Imagery "Częstochowa: Orthophotomap 2013 (aerial image)": sources/europe/pl/CzstochowaOrthophotomap2013(aerialimage).geojson broken"
Watchdog failed for 5 consecutive days for:
"Częstochowa: Orthophotomap 2013 (aerial image)" -> [sources/europe/pl/CzstochowaOrthophotomap2013(aerialimage).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/CzstochowaOrthophotomap2013(aerialimage).geojson)

Reason:
Error: Layers 'Orto_2013' not advertised by WMS GetCapabilities request. In rare cases WMS server d

[2021-07-13 01:33] andrewharvey commented on #1074
Simply `mvt` as the type could work? Then `tms` would imply raster tiles only.

But overall very supportive of including MVT source in this index, it's long overdue imo.

[2021-07-13 01:38] andrewharvey commented on #506
Doesn't look like there are anymore blockers for this.

I recently forked editor-layer-index for openhistoricalmap https://github.com/OpenHistoricalMap/ohm-editor-layer-index and took the liberty to rename the main branch as `main`, removed the build outputs imagery.* from `main` and then got GitHub Workflows to build the outputs into a new `dist` branch.

[2021-07-13 06:48] simonpoole commented on #1074
In the end I added a 'tile_type' field with a value of 'mvt' as an extension for Vespucci's implementation. The reasoning being that one day there might be other popular vector tile formats, or incompatible versions of MVTs.

PS: likely we should include a provision for a tilejson URL too.

[2021-07-13 18:06] rbuffat commented on #1074
There are currently quite a few issues open requiring a change of the schema. Currently, I have not a lot of free time available, but I hope this will soon change.  As soon as I have time I will try to create a RFC document with a summary of all currently proposed changes to facilitate a discussion.

[2021-07-13 18:08] rbuffat commented on #1189
@Marc-marc-marc Thanks for providing this information!

[2021-07-13 18:12] rbuffat commented on #1190
Thanks  @don-vip ! I messed this up in https://github.com/osmlab/editor-layer-index/commit/dbdb1f7a71ea9e90dff2d51bebfc17c2802a1256

[2021-07-13 18:26] #1190 closed, assigned to nobody

[2021-07-13 18:33] rbuffat commented on #1195
@Asteliks @jendrusk @matkoniecz

The 2011, 2013, 2014 and 2015 aerial imagery seems to have been removed from the WMS server, but now the server includes imagery for 2016, 2017, 2019 and 2021: http://geoportal.czestochowa.um.gov.pl/isdp/scripts/isdp.dll/wms?service=wms&request=getcapabilities

Are these imagery relevant for the Polish OSM community or is the imagery already included in the Geoport

[2021-07-13 18:34] #1191 closed, assigned to nobody

[2021-07-13 19:05] Asteliks commented on #1195
@rbuffat
I have forwarded this issue to the Polish discord.
If you can join us in order to improve communication: https://discord.gg/hYERKf5

[2021-07-16 00:41] rbuffat commented on #1192
Imagery seems to work again.

[2021-07-16 00:41] rbuffat commented on #1188
Imagery seems to work again.

[2021-07-16 00:41] #1188 closed, assigned to nobody

[2021-07-16 00:41] #1192 closed, assigned to nobody

[2021-07-16 00:42] rbuffat commented on #1187
Imagery seems to work again.

[2021-07-16 00:42] #1187 closed, assigned to nobody

[2021-07-16 00:42] rbuffat commented on #1186
Imagery seems to work again.

[2021-07-16 00:42] #1186 closed, assigned to nobody

[2021-07-17 00:42] rbuffat commented on #1189
Imagery seems to work again.

[2021-07-17 00:42] #1189 closed, assigned to nobody

[2021-07-18 00:41] rbuffat opened #1202 "[Watchdog] Imagery "Rio Mosaic 2013": sources/south-america/br/Rio_2013.geojson broken"
Watchdog failed for 5 consecutive days for:
"Rio Mosaic 2013" -> [sources/south-america/br/Rio_2013.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/br/Rio_2013.geojson)

Reason:
Error: WMS -: Error: No Capabilities Element present: Root tag: html
Error: WMS 1.3.0: Error: No Capabilities Element present: Root tag: html
Error: WMS 1.1.1: Error: No Capabiliti

[2021-07-20 00:42] rbuffat opened #1204 "[Watchdog] Imagery "South Tyrol Orthofoto 2011 (highres)": sources/europe/it/SouthTyrolOrthofoto2011WMS20cm.geojson broken"
Watchdog failed for 5 consecutive days for:
"South Tyrol Orthofoto 2011 (highres)" -> [sources/europe/it/SouthTyrolOrthofoto2011WMS20cm.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/SouthTyrolOrthofoto2011WMS20cm.geojson)

Reason:
Error: Layers 'P_BZ_OF_2011_EPSG3857' not advertised by WMS GetCapabilities request. In rare cases WMS server do not advertise la

[2021-07-20 12:34] #1204 closed, assigned to nobody

[2021-07-20 13:15] tyrasd commented on #1179
works for me.

[![a working tile](https://geoservices.buergernetz.bz.it/geoserver/gwc/service/wmts/?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=P_BZ_BASEMAP_TOPO&STYLE=default&TILEMATRIXSET=GoogleMapsCompatible&TILEMATRIX=GoogleMapsCompatible%3A17&TILEROW=46284&TILECOL=69624&FORMAT=image%2Fjpeg&foo={width})](https://geoservices.buergernetz.bz.it/geoserver/gwc/service/wmts/?SERVICE=WMTS&REQUES

[2021-07-20 13:19] tyrasd commented on #1179
@rbuffat it would be nice to get more debug output from the watchdog. e.g. what tiles/requests it actually tried, what error code the server returned, etc.

[2021-07-20 13:22] tyrasd commented on #1179
(closing for now)

[2021-07-20 13:22] #1179 closed, assigned to nobody

[2021-07-21 00:42] rbuffat opened #1205 "[Watchdog] Imagery "Bytom: Fotoplan 2014 (aerial image)": sources/europe/pl/BytomFotoplan2014(aerialimage).geojson broken"
Watchdog failed for 5 consecutive days for:
"Bytom: Fotoplan 2014 (aerial image)" -> [sources/europe/pl/BytomFotoplan2014(aerialimage).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/BytomFotoplan2014(aerialimage).geojson)

Reason:
Error: WMS None: Timeout for: http://sitplan.um.bytom.pl:11180/isdp/gs/wms?service=WMS&request=GetCapabilities
Error: WMS 1.3.0: T

[2021-07-25 18:12] 1ec5 opened #1209 "Kentucky Aerial Photography and Elevation Data Program 2020"
## URL of the imagery
https://kyraster.ky.gov/arcgis/rest/services/ImageServices/Ky_KYAPED_2020_6IN/ImageServer/
https://kygeoportal.ky.gov/geoportal/catalog/search/resource/details.page?uuid=%7BBCAF6E4F-D34F-4636-8B6B-8DD9B3134DD8%7D

## Two letter country code
US

## Desired layer name
KyFromAbove 2020 6in

## License
All KYAPED imagery is [in the public domain](https://kygeonet.ky.gov/kyfromabo

[2021-07-25 18:12] 1ec5 commented on #612
#1209 tracks the addition of KyFromAbove’s 2020 6-inch imagery in a different set of counties.

[2021-07-27 21:59] AntMadeira commented on #850
Please, remove one of these two layers (they are the same):
Maxar Premium Imagery (Beta)
Maxar Standard Imagery (Beta)

And two of these three (they're all the same):
OpenStreetMap (Basque Style)
OpenStreetMap (Breton Style)
OpenStreetMap (Occitan Style)

Finally, how can I translate the name strings of the new layers?

[2021-07-28 14:29] felypeforte opened #1210 "It is not possible to see Brazilian Army Topographic Maps layer data on OSM"
Hi,

Can anyone help me with the following issue:

I used to use a layer called 'Cartas Topográficas do Exército Brasileiro' [Topographic Charts of the Brazilian Army] in Brazil, to map the peaks from my region, and now I cannot see anything when I select the layer. What could be happening?

I have posted this issue on another place and I was instructed to post this issue here.

https://github.com

[2021-07-30 18:52] ZeLonewolf commented on #1035
Hello, we've research this more and received clarification from the State of RI.  It turns out that all RIGIS source data is released "openly, without license", and it is only their web pages and search/sort/visualization tools from the University of RI that are licensed CC-BY.  Therefore, this layer should be good to go for the ELI.

Email is here.
https://wiki.openstreetmap.org/wiki/File:RIGIS_l

[2021-07-31 09:33] simonpoole opened #1213 "Determine (automatically) which WMTS services support the OGC WMTS Simple Profile"
Not very many OSM editors support WMTS sources, however those WMTS servers that have a TileMatrixSet that conforms to the OGC WMTS Simple Profile provide an URL that can be used for tile access just like as for a OSM/google compatible tile server.

If the OGC WMTS Simple Profile is supported it could make sense to either automatically add a new field with the URL to WMTS ELI entries, or simply dup

[2021-08-01 10:36] rbuffat commented on #1213
This is a good idea.

TODOs would be:
- [ ] Query WMTS sources to check if they support the Simple Profile / urn:ogc:def:wkss:OGC:1.0:GoogleMapsCompatible
- [ ] Construct tms URLs from the service metadata
- [ ] Ideally, there should be support for mirrors in ELI (or wmts sources are deleted in favor of TMS)
- [ ] Add check for new wmts sources if simple profile is supported

[2021-08-04 18:33] rbuffat commented on #1210
It looks as this source is now since 126 days broken. Personally, I don't really feel comfortable with Brazil imagery, as I'm neither familiar with the language nor the local laws.

@naoliv @afmenez or @willemarcel  Could you have a look at this imagery?

[2021-08-04 19:00] rbuffat commented on #1195
I joined the discord channel but as I do not speak the language I'm a bit lost.

[2021-08-04 19:07] Asteliks commented on #1195
@rbuffat Great! Don’t worry. What you need to know is that every Friday at 19:00 we try to hold a meeting on the voice channel. I’ll announce you so that the appropriate people will be there. You’ll need to join the “Ogólny” audio channel at the time specified above.

[2021-08-04 19:10] rbuffat commented on #1195
Sorry,  but Friday 19:00 is usually a time that does not work very well for me.

[2021-08-04 19:12] rbuffat commented on #1172
@grischard @simonpoole @cquest
Is there some OSM infrastructure available to host imagery specific for OSM mapping/purposes?  I assume not all local OSM communities have the resources to host imagery on their own.

That said, I also do not know if there is still a demand for these datasets. At least for Helsingborg, there seems to be newer data available in public domain: https://helsingborg.opend

[2021-08-04 19:15] simonpoole commented on #1172
SOSM has plenty of resources for such things and continues to operate a mapproxy instance.

But I suppose we really need some feedback from the SE community if the layers are/were really useful.

[2021-08-04 19:16] grischard commented on #1172
Yes there's a server to host imagery directly. A shared mapproxy would be possible too, but no one has ever volunteered the time to set it up.

[2021-08-04 19:20] Asteliks commented on #1195
Thanks for answering so fast. In that case I’ll need to cancel your announcement. I’ll forward your nick to some people

[2021-08-05 00:42] rbuffat commented on #1196
Imagery seems to work again.

[2021-08-05 00:42] rbuffat commented on #1195
Imagery seems to work again.

[2021-08-05 00:42] #1196 closed, assigned to nobody

[2021-08-05 00:42] rbuffat commented on #1194
Imagery seems to work again.

[2021-08-05 00:42] #1194 closed, assigned to nobody

[2021-08-05 00:42] #1195 closed, assigned to nobody

[2021-08-05 00:42] rbuffat commented on #1193
Imagery seems to work again.

[2021-08-05 00:42] #1193 closed, assigned to nobody

[2021-08-06 00:41] rbuffat opened #1215 "[Watchdog] Imagery "Cadastre": sources/europe/fr/FR-Cadastre.geojson broken"
Watchdog failed for 5 consecutive days for:
"Cadastre" -> [sources/europe/fr/FR-Cadastre.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/FR-Cadastre.geojson)

Reason:
Error: No zoom level reachable. (Tested: 12,13,14,15,19,20,21,22) Tiles might not be present at tested location: 55.52696101717855,-21.13467755

CC contributors to this imagery:
@grischard, @iand

[2021-08-07 00:38] rbuffat commented on #1215
Imagery seems to work again.

[2021-08-07 00:38] #1215 closed, assigned to nobody

[2021-08-07 08:18] 1ec5 commented on #1209
[The ImageServer](https://kyraster.ky.gov/arcgis/rest/services/ImageServices/Ky_KYAPED_2020_6IN/ImageServer/) only seems to include half the counties that are listed in the [downloadable imagery metadata](https://kygeoportal.ky.gov/geoportal/catalog/search/resource/details.page?uuid=%7BBCAF6E4F-D34F-4636-8B6B-8DD9B3134DD8%7D). Not sure if the actual download has more imagery.

[2021-08-07 17:29] Mahabarata opened #1217 "Maxar Premium"
Hi,

For about one week, I have no more imagery of Maxar Premium :
- in the beginning, imagery was blurry at some zoom.
- now, all is black

It was the best imagery in Bolivia so this bug is a big lost.

Here an example of a place with no more imagery :
https://www.openstreetmap.org/edit#map=18/-22.53417/-67.28902

Best regards

[2021-08-09 14:10] grischard commented on #1217
Abuse issues on the Maxar side, unfortunately. Hopefully it'll be fixed soon.

[2021-08-11 10:31] rbuffat commented on #961
Canton Thurgau: https://wiki.openstreetmap.org/wiki/Canton_Thurgau_Geodata
Canton Bern: https://wiki.openstreetmap.org/wiki/Canton_Berne_Geodata

[2021-08-12 00:41] rbuffat opened #1220 "[Watchdog] Imagery "BD Topo": sources/europe/fr/BD-Topo.geojson broken"
Watchdog failed for 5 consecutive days for:
"BD Topo" -> [sources/europe/fr/BD-Topo.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/BD-Topo.geojson)

Reason:
Error: No zoom level reachable. (Tested: 3,4,5,6,17,18,19,20) Tiles might not be present at tested location: 55.52696101717855,-21.13467755

CC contributors to this imagery:
@Olyon

[2021-08-12 00:41] rbuffat opened #1221 "[Watchdog] Imagery "BD Carthage": sources/europe/fr/BDCarthage.geojson broken"
Watchdog failed for 5 consecutive days for:
"BD Carthage" -> [sources/europe/fr/BDCarthage.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/BDCarthage.geojson)

Reason:
Error: No zoom level reachable. (Tested: 6,7,8,9,17,18,19,20) Tiles might not be present at tested location: 0.8649189002685986,46.30642

CC contributors to this imagery:
@Marc-marc-marc, @grisc

[2021-08-12 00:41] rbuffat opened #1222 "[Watchdog] Imagery "Volta": sources/europe/fr/Volta.geojson broken"
Watchdog failed for 5 consecutive days for:
"Volta" -> [sources/europe/fr/Volta.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/Volta.geojson)

Reason:
Error: No zoom level reachable. (Tested: 6,7,8,9,17,18,19,20) Tiles might not be present at tested location: 0.864918883483786,46.30642

CC contributors to this imagery:
@Olyon

[2021-08-12 00:41] rbuffat opened #1223 "[Watchdog] Imagery "BANO": sources/europe/fr/BANO.geojson broken"
Watchdog failed for 5 consecutive days for:
"BANO" -> [sources/europe/fr/BANO.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/BANO.geojson)

Reason:
Error: No zoom level reachable. (Tested: 12,13,14,15,17,18,19,20) Tiles might not be present at tested location: -60.999952248360714,14.634522650000001

CC contributors to this imagery:
@Marc-marc-marc, @Olyon, @K

[2021-08-12 00:41] rbuffat opened #1224 "[Watchdog] Imagery "Route 500": sources/europe/fr/Route500.geojson broken"
Watchdog failed for 5 consecutive days for:
"Route 500" -> [sources/europe/fr/Route500.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/Route500.geojson)

Reason:
Error: No zoom level reachable. (Tested: 12,13,14,15,17,18,19,20) Tiles might not be present at tested location: 0.8649189002685986,46.30642

CC contributors to this imagery:
@Marc-marc-marc, @grischa

[2021-08-15 18:21] #1209 closed, assigned to nobody

[2021-08-21 16:04] talllguy opened #1231 "Update on Maryland Latest Imagery"
The Maryland Latest Imagery is updated as of 8/20/2021. It is already in the index per #148. **Question**: will the tool that reprojects it for OSM clear the cache automatically and use the latest tiles?

[2021-08-22 09:23] rbuffat commented on #1231
If you refer to this imagery: https://raw.githubusercontent.com/osmlab/editor-layer-index/1891875b589149c9a14d181acbd45fb4d4d0f6aa/sources/north-america/us/md/MD_SixInchImagery.geojson

The data is directly accessed from the md.gov server. If the layer (MD_SixInchImagery) is replaced with the new data on their server there is no change required for accessing the new data.

[2021-08-22 22:25] cicku commented on #1217
I think the issue can be closed now.

[2021-08-23 01:04] cicku commented on #1231
As long as the server has no change to the URL (https://geodata.md.gov/imap/services/Imagery/MD_SixInchImagery/MapServer/WmsServer), the original URL will always work.

Looks like iMAP does not use unique URL to differentiate the imageries from year to year.

[2021-08-23 14:36] matheusgomesms commented on #1202
Fixed on PR #1251

[2021-08-23 19:32] matheusgomesms commented on #1210
@felypeforte, it doesn't seem that the layer is broken. It just looks that the server is very very slow nowadays. Sometimes it works (maybe you have to wait a bit, like a minute or two), sometimes it doesn't. The URL on the layer seems correct. I tried it manually on Custom tab on iD and JOSM and it works sometimes as well.

https://bdgex.eb.mil.br/mapcache?FORMAT=image/png&TRANSPARENT=TRUE&VERSIO

[2021-08-23 20:13] matheusgomesms commented on #983
I fixed (or tried to fix) all broken layers coming directly from IBGE servers on PR #1249.

Regarding IBGE license, I wouldn't be very concerned about it. As René mentioned on last message, [there is understanding that](https://lists.openstreetmap.org/pipermail/imports/2013-July/001981.html) (and based on e-mails from IBGE explicitely allowing usage) that all IBGE data is available to use on OSM.

[2021-08-23 20:38] talllguy commented on #1231
@rbuffat @cicku thank you. My information/knowledge was out of date here. I thought the imagery was still using the whoots Map Warper but that was removed back in 2017 (https://github.com/osmlab/editor-layer-index/commit/5e579ccefa445e5182a9b0ea8bdace902e8aef4d#diff-5318eca577c6d2d9b0372f59d13dee9d47318d9d4be2081cc1b1fef8898cb739 ).

As you point out, the imagery pulls directly from iMAP, so no ch

[2021-08-23 20:38] #1231 closed, assigned to nobody

[2021-08-23 21:32] eduardoaddad commented on #1210
The Brazilian army allows its use (https://wiki.openstreetmap.org/wiki/BDGEx_Tile_Layer or https://wiki.openstreetmap.org/wiki/File:Relatorio-Pedido-BDGEx-2018.pdf)

[2021-08-25 23:29] felypeforte commented on #1210
Thank you guys. I will try to use it then.

[2021-08-25 23:29] #1210 closed, assigned to nobody

[2021-08-28 14:29] Mahabarata commented on #1217
I'm not sure : yes I agree that now we have something.
But one month ago I created tracks in desert because these tracks were only visible on Maxar Premium (more recent and better definition).
This one for exemple :
https://www.openstreetmap.org/edit#map=19/-22.87779/-67.42185
a 44 km links between 2 lakes in a park.

These tracks are no longer visible : it looks like Maxar Premium is not Maxar Pr

[2021-08-30 20:31] rbuffat commented on #1213
Currently, there are not a lot of WMTS sources in ELI. Two of those sources support EPSG3857 and could be added as tms, but for them already an alternative server with WMS is available. But it would be good to switch these to tms.

[code]

https://github.com/osmlab/editor-layer-index/pull/1243 intends to add a check for new wmts sources if they contain a layer that could be added as tms. (=> they

[2021-08-30 20:43] rbuffat commented on #1213
The WMTS standard defines the `GoogleMapsCompatible` TileMatrixSet. This TileMatrixSet requires tiles to be of 256x256 pixels. Only filtering for `urn:ogc:def:crs:EPSG::3857` could find TileMatrixSet with tiles of different resolution. Is this an issue for OSM editors?

Microsoft Live Map projections and zoom levels. Level 0 allows representing the whole
world in a single 256x256 pixels. The next

[2021-08-30 22:20] simonpoole commented on #1213
I was originally thinking of just filtering for 'GoogleMapsCompatible'. In any case I suspect most editors can handle 512 and other multiples of 256, but we would need to include that in the config (there's a tile-size attribute so we can convey that info).

[2021-09-01 16:02] cicku commented on #1231
@talllguy I forgot to ask one thing:

For example, iMAP does include APG (Aberdeen Proving Ground) but that area is pixelated. Should I also remove it from the boundary? Churchville Test Area is also pixelated.
![image](https://user-images.githubusercontent.com/686438/131704669-23ab96ed-399d-4f9e-a804-24e5a599488d.png)

Since I don't have any time to explore the whole map and find out all places l

[2021-09-03 22:14] Lee-Carre commented on #167
I notice that the supplied tiles are now quite outdated.

However, [Parking Lanes](https://zlant.github.io/parking-lanes/) shows grayscale tiles which are based on much more recent data.

I'm not sure where they're hosted or what the URL pattern is (I'm limited to using an Android device for the time being).

Might it be possible to update ELI to use the URL of the newer tiles, so that they're lit

[2021-09-03 22:24] Lee-Carre commented on #167
Digging into their source-code a bit yielded the following:

    https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png

from [parking-lanes/src/parking/interface.js#L56](https://github.com/zlant/parking-lanes/blob/abca2854de6e72ff81d9e9cb781adf149432717a/src/parking/interface.js#L56).

Although, since that seems strikingly similar to the URL for colour tiles, despite the relevant layer being named ma

[2021-09-03 22:52] Lee-Carre commented on #993
A different perspective is a desire for imagery captured at noon, in order to avoid shadows to have the area well-lit.

I've seen examples of features being missed (or added incorrectly, in the case of building outline shape) due to that part of the image being in shadow.

[2021-09-05 00:38] rbuffat opened #1256 "[Watchdog] Imagery "Mesa County GIS NAIP 2017": sources/north-america/us/co/MesaCountyImagery2017.geojson broken"
Watchdog failed for 5 consecutive days for:
"Mesa County GIS NAIP 2017" -> [sources/north-america/us/co/MesaCountyImagery2017.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/co/MesaCountyImagery2017.geojson)

Reason:
Error: WMS -: Error: Could not parse XML.
Error: WMS 1.3.0: Error: Could not parse XML.
Error: WMS 1.1.1: Error: Could not parse XML.
Erro

[2021-09-05 06:41] tommycrock opened #1257 "Update NLS tile server addresses"
Hello. The National Library of Scotland have changed their preferred server locations for maps with national coverage. Chris Fleet, their map curator has updated the osm wiki page https://wiki.openstreetmap.org/wiki/National_Library_of_Scotland
I have updated the addresses in JOSM but they need updating here.

Most old addresses still seem to work except the os 1:10,560, I'm not sure if this is a

[2021-09-07 13:38] tsmock commented on #1256
It looks like they have removed that imagery (it is also no longer downloadable).

[2021-09-09 21:32] Lee-Carre commented on #755
Except that the extent also includes the (original) Channel Islands (Jersey, Guernsey, etc.) for which only low-resolution imagery (if any) is available.

[2021-09-09 21:44] Lee-Carre opened #1260 "Request extent-change to exclude unintended nearby islands"
For the following (background) imagery

* [BDOrtho IGN](https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/fr/BDOrthoIGN.geojson)
* [Ortho HR](https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/fr/OrthoHR.geojson)

please alter the extent to **exclude** the Channel Islands (Jersey, Guernsey, etc.).

The imagery is clearly intended for France (and the i

[2021-09-09 22:01] Lee-Carre commented on #1260
Hmm, I notice that the GeoJSON for Ortho HR doesn't include the CIs, yet when highly zoomed in (to said Islands) using Vespucci the imagery is still listed as applicable.

Is that then a bug for Vespucci, instead?

[2021-09-09 22:18] simonpoole commented on #1260
No, it is the intended behaviour.

We don't retain the polygons (aka we throw them away) and just store the (multiple if a MP) bounding boxes instead. The reasons for this are on the one hand the amount of heap it would cost to keep them in memory and on the other hand the lack of geospatial indices in Androids sqlite implementation (making a DB based store clumsy and slow). If Androids sqlite is

[2021-09-09 22:21] Lee-Carre commented on #1260
Having done some further checking, the following (overlay) sources need correction, too:

* [BANO](https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/fr/BANO.geojson)
* [BD Carthage](https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/fr/BDCarthage.geojson)
* [BD Topo](https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/fr/BD-Topo.

[2021-09-11 15:39] grischard commented on #755
@Lee-Carre I imagine that that must be a bit annoying if Ortho IGN is marked as 'best' there. Feel free to submit a PR to add a few points to the boundary to correct that.

[2021-09-12 00:38] rbuffat opened #1261 "[Watchdog] Imagery "IBGE Nomes de Ruas": sources/south-america/br/IBGE_Street_Names.geojson broken"
Watchdog failed for 5 consecutive days for:
"IBGE Nomes de Ruas" -> [sources/south-america/br/IBGE_Street_Names.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/br/IBGE_Street_Names.geojson)

Reason:
Error: No zoom level reachable. (Tested: 4,5,6,7,19,20,21,22) Tiles might not be present at tested location: -49.60756145539132,-14.398

CC contributors to thi

[2021-09-12 00:46] naoliv commented on #1261
The summary is: somebody abused it (at the end of August) and they suspended the account.
![](https://user-images.githubusercontent.com/982338/132967061-acb7e6f7-2a80-4d40-8367-3eb88ddd66f4.png)
![](https://user-images.githubusercontent.com/982338/132967067-65876bbb-364d-4e1c-8835-c409deac6661.png)

[2021-09-12 11:01] rbuffat commented on #1261
@naoliv Thanks for the heads up! Does this reset automatically?

[2021-09-12 14:48] cicku commented on #1213
I've found few exceptions at USGS WMTS. It appears that different zoom level has different GoogleMapsCompatible name.

Here is an example for Hurricane Ida: https://storms.ngs.noaa.gov/storms/ida/services/WMTSCapabilities.xml

[2021-09-17 16:43] cicku commented on #442
Endpoint service could still be helpful when the website owner has disabled the directory service due to ransomware. I have an aerial imagery not being able to add into ELI because the website disables everything including exportImage operation.

[2021-09-18 00:53] rbuffat opened #1264 "[Watchdog] Imagery "Delaware 2017 Orthophotography": sources/north-america/us/de/Delaware2017Orthophotography.geojson broken"
Watchdog failed for 5 consecutive days for:
"Delaware 2017 Orthophotography" -> [sources/north-america/us/de/Delaware2017Orthophotography.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/de/Delaware2017Orthophotography.geojson)

Reason:
Error: WMS -: Error: Could not parse XML.
Error: WMS 1.3.0: Error: Could not parse XML.
Error: WMS 1.1.1: Error: Could

[2021-09-18 00:53] rbuffat opened #1265 "[Watchdog] Imagery "Delaware 2012 Orthophotography": sources/north-america/us/de/Delaware2012Orthophotography.geojson broken"
Watchdog failed for 5 consecutive days for:
"Delaware 2012 Orthophotography" -> [sources/north-america/us/de/Delaware2012Orthophotography.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/de/Delaware2012Orthophotography.geojson)

Reason:
Error: WMS -: Error: Could not parse XML.
Error: WMS 1.3.0: Error: Could not parse XML.
Error: WMS 1.1.1: Error: Could

[2021-09-23 00:39] cicku commented on #1264
https://github.com/osmlab/editor-layer-index/pull/1242

[2021-09-23 00:39] cicku commented on #1265
https://github.com/osmlab/editor-layer-index/pull/1242

[2021-09-30 00:02] cicku commented on #1265
For DE 2012 imagery, please just remove the file as it does not serve any value in fall 2021. It is almost from 10 years ago.

Moreover, 2017 imagery is already dated as well. State of Delaware update orthoimagery every 5 years, 2022 imagery will be published in the next year.

[2021-10-03 07:13] Asteliks commented on #846
This was fixed in:
https://github.com/osmlab/editor-layer-index/pull/1063
https://github.com/osmlab/editor-layer-index/pull/1064

The issue can be closed @rbuffat

[2021-10-03 09:24] Asteliks commented on #1181
is this done?

[2021-10-05 23:59] andrewharvey commented on #741
Looks like this was closed by #1277

[2021-10-05 23:59] #741 closed, assigned to nobody

[2021-10-06 01:35] cicku commented on #1217
In this case, you should contact Maxar directly regarding the issue.

This is the link: https://www.maxar.com/contact-us

[2021-10-06 14:55] Asteliks commented on #846
@andrewharvey we can close this

[2021-10-13 18:41] cicku opened #1295 "Difference between icon and logo-image?"
Hi,

What is the difference between these two?

Thank you.

[2021-10-13 20:16] cicku commented on #1035
You can close this now.

[2021-10-15 09:56] #1178 closed, assigned to nobody

[2021-10-15 16:46] rbuffat commented on #1264
Imagery seems to work again.

[2021-10-15 16:46] #1264 closed, assigned to nobody

[2021-10-16 00:35] rbuffat commented on #1265
Imagery seems to work again.

[2021-10-16 00:35] #1265 closed, assigned to nobody

[2021-10-19 00:34] rbuffat opened #1304 "[Watchdog] Imagery "Singapore OneMap": sources/asia/sg/Singapore-OneMap.geojson broken"
Watchdog failed for 5 consecutive days for:
"Singapore OneMap" -> [sources/asia/sg/Singapore-OneMap.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/asia/sg/Singapore-OneMap.geojson)

Reason:
Error: WMS None: Timeout for: https://mapservices.onemap.sg/mapproxy/service?service=WMS&request=GetCapabilities
Error: WMS 1.3.0: Timeout for: https://mapservices.onemap.sg/mapprox

[2021-10-19 00:34] rbuffat opened #1305 "[Watchdog] Imagery "Singapore Landlot": sources/asia/sg/Singapore-Landlot.geojson broken"
Watchdog failed for 5 consecutive days for:
"Singapore Landlot" -> [sources/asia/sg/Singapore-Landlot.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/asia/sg/Singapore-Landlot.geojson)

Reason:
Error: WMS None: Timeout for: https://mapservices.onemap.sg/mapproxy/service?service=WMS&request=GetCapabilities
Error: WMS 1.3.0: Timeout for: https://mapservices.onemap.sg/mapp

[2021-10-19 00:34] rbuffat opened #1306 "[Watchdog] Imagery "OSM Inspector: Area": sources/world/OSMIMultipolygon.geojson broken"
Watchdog failed for 5 consecutive days for:
"OSM Inspector: Area" -> [sources/world/OSMIMultipolygon.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/world/OSMIMultipolygon.geojson)

Reason:
Error: No zoom level reachable. (Tested: 8,9,10,11,16,17,18,19) Tiles might not be present at tested location: 0.0,0.0

CC contributors to this imagery:
@iandees, @simonpoole, @bhous

[2021-10-19 07:46] simonpoole commented on #1306
This needs to go to @Nakaner

[2021-10-20 00:34] rbuffat commented on #1305
Imagery seems to work again.

[2021-10-20 00:34] #1305 closed, assigned to nobody

[2021-10-20 00:34] rbuffat commented on #1304
Imagery seems to work again.

[2021-10-20 00:34] #1304 closed, assigned to nobody

[2021-10-20 19:29] #1181 closed, assigned to nobody

[2021-10-23 00:35] rbuffat opened #1312 "[Watchdog] Imagery "Japan GSI KIBAN 2500": sources/asia/jp/JapanGSIKiban2500.geojson broken"
Watchdog failed for 5 consecutive days for:
"Japan GSI KIBAN 2500" -> [sources/asia/jp/JapanGSIKiban2500.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/asia/jp/JapanGSIKiban2500.geojson)

Reason:
Error: No zoom level reachable. (Tested: 15,16,17,18,19,20) Tiles might not be present at tested location: 135.39640124892227,34.750422259322136

CC contributors to this image

[2021-10-23 00:35] rbuffat opened #1313 "[Watchdog] Imagery "Orthophoto (1994–1999), B&W, 1:30000, Latvia": sources/europe/lv/lv_orthophoto_cycle1_1994-1999.geojson broken"
Watchdog failed for 5 consecutive days for:
"Orthophoto (1994–1999), B&W, 1:30000, Latvia" -> [sources/europe/lv/lv_orthophoto_cycle1_1994-1999.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/lv/lv_orthophoto_cycle1_1994-1999.geojson)

Reason:
Error: WMS -: Error: Could not parse XML.
Error: WMS 1.3.0: Error: Could not parse XML.
Error: WMS 1.1.1: Error: Could no

[2021-10-23 16:55] soshial commented on #1313
Updated the server URL in the PR #1315.

[2021-10-25 22:45] willemarcel commented on #1261
@rbuffat I created a PR with the solution to this issue: https://github.com/osmlab/editor-layer-index/pull/1302

[2021-10-26 00:32] rbuffat commented on #1313
Imagery seems to work again.

[2021-10-26 00:32] #1313 closed, assigned to nobody

[2021-10-28 12:36] Lee-Carre opened #1316 "MapMetrics"
## Category
Overlay. QA for routing.

Background info:
* [Happy birthday, OpenStreetMap!](http://www.tomtom.com/blog/maps/tomtom-openstreetmaps-mapmetrics-map-editing/) (introductory announcement)
* [The battle for quality maps](http://www.tomtom.com/blog/maps/the-battle-for-quality-maps/) (more details, including refinement of their dataset (by excluding false-positives))

## URL of the imagery
T

[2021-10-28 15:56] cicku commented on #1316
I don’t think Tomtom products can be used for OSM. It is just another kind of google maps.

However, an explicit waiver/statement should be obtained from Tomtom if you really think it is possible. Apple Maps uses OSM as well, but it does not mean you can use it in a reverse way.

[2021-10-28 16:27] 1ec5 commented on #616
Fixed in #1298.

[2021-10-28 16:27] #616 closed, assigned to nobody

[2021-10-31 00:34] rbuffat opened #1320 "[Watchdog] Imagery "NPD Offshore Installations overlay": sources/europe/no/NPD-Offshore-Installations-overlay.geojson broken"
Watchdog failed for 5 consecutive days for:
"NPD Offshore Installations overlay" -> [sources/europe/no/NPD-Offshore-Installations-overlay.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/no/NPD-Offshore-Installations-overlay.geojson)

Reason:
Error: WMS None: Timeout for: https://gis.npd.no/ogc/factmaps/2_0?service=WMS&request=GetCapabilities
Error: WMS 1.3.0: Tim

[2021-11-03 13:39] Asteliks opened #1324 "Geoportal 2 imagery: Longer loading times than expected"
@rbuffat @andrewharvey

Something seems to be wrong with iD editor. In Poland the Geoportal 2 layers are loading painstakingly long. At first I thought that this is something with the provider but the exact same layers load instantly in JOSM. Thus I'll need some help concerning this topic.

[2021-11-03 13:49] rbuffat commented on #1324
@Asteliks does JOSM use a different server or does JOSM cache tiles locally?

[2021-11-03 15:20] Asteliks commented on #1324
I made sure to use the same server and clear the cache

[2021-11-05 00:33] rbuffat opened #1325 "[Watchdog] Imagery "Israel MTB": sources/asia/il/IsraelMTB.geojson broken"
Watchdog failed for 5 consecutive days for:
"Israel MTB" -> [sources/asia/il/IsraelMTB.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/asia/il/IsraelMTB.geojson)

Reason:
Error: No zoom level reachable. (Tested: 7,8,9,10,13,14,15,16) Tiles might not be present at tested location: 34.810504333333334,31.335335

CC contributors to this imagery:
@rbuffat, @grischard

[2021-11-05 08:30] Asteliks commented on #1324
@rbuffat I've brought up the same issue here: https://github.com/openstreetmap/iD/issues/8789
Just to make sure, dose iD support WMTS? What do you think about switching the geoportal sources from WMS to WMTS?

[2021-11-05 08:51] rbuffat commented on #1324
To my knowledge, iD does not support WMTS*. The main issue is that WMTS serves datasets in specific coordinate projections. Unlike WMS, which reprojects data on the fly in a projection iD understands. Under some circumstances, some of these projections can be used with iD (See https://github.com/osmlab/editor-layer-index/issues/1213). These datasets can then be added as tms sources.  As far as I'm

[2021-11-05 09:16] tyrasd commented on #1324
See answer in https://github.com/openstreetmap/iD/issues/8789#issuecomment-961714182.

iD can _work_ with all WMTS sources which support the "standard slippy map tile scheme" used by OSM/Leaflet/Google/etc. – The same is true for WMS sources as well, where iD can only use services which support at least one of a few projections iD understands (which would be `EPSG:3857`, `EPSG:4326` and their syno

[2021-11-05 10:14] tyrasd commented on #1324
I've prepared #1326 to add the WMTS variant for this layer. Not sure if it's worth it to keep the WMS around (JOSM has both). What do you think?

[2021-11-05 10:15] Asteliks commented on #1324
I would keep them just as a backup in case TMS is down, unless they are on the same server

[2021-11-05 10:20] Asteliks commented on #1324
Note that the source you updated is just the tip of an iceberg because there are other layers that may require this update:

- [ ] https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/pl/Geoportal2Ewidencjabudynk%C3%B3wWMS.geojson
- [ ] https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/pl/Geoportal2Ewidencjagrunt%C3%B3w.geojson
- [ ] https://github.com/

[2021-11-05 10:37] tyrasd commented on #1324
For now I have only updated the "latest" layer because:

* the "latest" layer is marked to be `best` (i.e. default) one for this region
* the overlay layers I tested don't seem to be particularly slow even on the WMS
* the "high resolution, but outdated" of the WMS also seems to be not as painfully slow as the "latest" imagery is, and since the layer seems to be discouraged for editing (as being _

[2021-11-05 10:53] Asteliks commented on #1324
<3

That is true

Well technically the high resolution isn't outdated. It is the same as the best layer, the difference is that the default layer depicts the latest tiles (not necessary in high resolution) for the region and the high resolution one choses the latest tiles that are in higher resolution (and thus potentially outdated). Also the high resolution variant is only available for bigger ci

[2021-11-05 10:56] tyrasd commented on #1324
OK, let's include the "high res" layer in the PR as well. :+1: Then everything should be fine to use.

[2021-11-05 11:33] tyrasd commented on #1324
Surprisingly, the WMTS endpoint of the "highResolution" layer does not offer a compatible tileset which is supported by iD. This is a bit strange since the other layer does support the EPSG:3857 tile scheme. man_shrugging So, sadly, there's not much we can do to improve that layer at the moment.

[2021-11-05 12:18] Asteliks commented on #1324
Ok, now I got it to work. Thanks.

This change leads us to another problem: https://brouter.de/brouter-web/#map=17/52.20936/20.95505/cyclosm&lonlats=20.953449,52.205529;20.954511,52.212012
With these changes the router chooses a poor quality street over the high quality kurhan street:
![image](https://user-images.githubusercontent.com/62251475/140508918-706938ce-4033-41cf-a810-0f92be82dc93.png)

[2021-11-05 20:18] #1320 closed, assigned to nobody

[2021-11-06 19:34] Mahabarata commented on #1217
I can see that now there is only one Maxar imagery (Maxar Premium), Maxar Standard has been deleted (even if, for Bolivia, we have the old Maxar Standard and not the new Maxar Premium, because the new track of my last post is still no more visible).
So with only one Maxar imagery, this issue is solved for me.
I close it.

[2021-11-06 19:34] #1217 closed, assigned to nobody

[2021-11-08 00:33] rbuffat opened #1328 "[Watchdog] Imagery "OSM Inspector: Coastline (EU)": sources/europe/OSMInspectorCoastline(EU).geojson broken"
Watchdog failed for 5 consecutive days for:
"OSM Inspector: Coastline (EU)" -> [sources/europe/OSMInspectorCoastline(EU).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/OSMInspectorCoastline(EU).geojson)

Reason:
Error: Exception Server disconnected for: https://tools.geofabrik.de/osmi/views/coastline/wxs?service=wms&request=GetCapabilities

CC contributors to th

[2021-11-10 00:33] rbuffat opened #1329 "[Watchdog] Imagery "Geoportal 2: PRNG (geo names)": sources/europe/pl/Geoportal2PRNG(geonames).geojson broken"
Watchdog failed for 5 consecutive days for:
"Geoportal 2: PRNG (geo names)" -> [sources/europe/pl/Geoportal2PRNG(geonames).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/Geoportal2PRNG(geonames).geojson)

Reason:
Error: WMS -: Error: Could not parse XML.
Error: WMS 1.3.0: Error: Could not parse XML.
Error: WMS 1.1.1: Error: Could not parse XML.
Error: WMS 1.1

[2021-11-10 20:11] #1261 closed, assigned to nobody

[2021-11-11 00:34] rbuffat commented on #1328
Imagery seems to work again.

[2021-11-11 00:34] #1328 closed, assigned to nobody

[2021-11-12 09:59] #1324 closed, assigned to nobody

[2021-11-13 05:10] andrewharvey commented on #1295
Per the schema

https://github.com/osmlab/editor-layer-index/blob/01a00af75d10fb353e95b14dd11e8f91a90cda55/schema.json#L180-L182

icon needs a description in the schema, but it's used in the menu list of imagery next to the name (compared to logo-image) which is a kind of watermark logo in the bottom corner of the map for attribution.

[2021-11-14 14:18] #1295 closed, assigned to nobody

[2021-11-15 19:39] rbuffat opened #1340 "Indicate that no privacy policy is available"
Currently, it is not possible to indicate that there is no privacy policy: for sources without a `"privacy_policy_url"` there can be either no privacy policy or nobody bothered to look if there is one.

There are different possibilities to define that "somebody looked but there is no privacy policy":
1. Using `"privacy_policy_url": null` for cases when somebody looked for a privacy policy, but non

[2021-11-16 00:38] andrewharvey commented on #1340
I would have thought `"privacy_policy_url": false` is best, it's the most explicit declaration there is no privacy policy, using `"privacy_policy_url": null` could be considered the same as no `privacy_policy_url` key in the Object, which is "nobody looked yet for a privacy policy".

[2021-11-16 08:52] tyrasd commented on #1340
+1 for `false`: to me it seems to be both quite intuitive and concise. But I can also very well live with any other solution.

[2021-11-19 00:34] rbuffat opened #1342 "[Watchdog] Imagery "Ukraine - Vinnytsia TG 2021": sources/europe/ua/Ukraine-Vinnytsia2021.geojson broken"
Watchdog failed for 5 consecutive days for:
"Ukraine - Vinnytsia TG 2021" -> [sources/europe/ua/Ukraine-Vinnytsia2021.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/ua/Ukraine-Vinnytsia2021.geojson)

Reason:
Error: No zoom level reachable. (Tested: 14,15,16,17,18,19) Tiles might not be present at tested location: 28.571171740718196,49.26765

CC contributors to t

[2021-11-19 08:20] bezdna commented on #1342
maybe its for only for Ukraine IP
i have access https://maps2.vmr.gov.ua/OpenData/ofp/2021-03/GoogleMapsCompatible/18/89765/151810.png?ver=03082021
link opens this image:
![image](https://user-images.githubusercontent.com/518939/142589265-41df5bd5-c945-4b0b-8c35-4b8ed04905c2.png)

[2021-11-21 00:35] rbuffat opened #1343 "[Watchdog] Imagery "South Tyrol DSM Hillshade 2013 (2.5 m)": sources/europe/it/SouthTyrol-Hillshade_DSM-2013-lowres.geojson broken"
Watchdog failed for 5 consecutive days for:
"South Tyrol DSM Hillshade 2013 (2.5 m)" -> [sources/europe/it/SouthTyrol-Hillshade_DSM-2013-lowres.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/SouthTyrol-Hillshade_DSM-2013-lowres.geojson)

Reason:
Error: Layers 'DSM-2p5m_Hillshade' not advertised by WMS GetCapabilities request. In rare cases WMS server do not a

[2021-11-21 00:35] rbuffat opened #1344 "[Watchdog] Imagery "South Tyrol DSM Hillshade 2013 (0.5 m)": sources/europe/it/SouthTyrol-Hillshade_DSM-2013-highres.geojson broken"
Watchdog failed for 5 consecutive days for:
"South Tyrol DSM Hillshade 2013 (0.5 m)" -> [sources/europe/it/SouthTyrol-Hillshade_DSM-2013-highres.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/SouthTyrol-Hillshade_DSM-2013-highres.geojson)

Reason:
Error: Layers 'DSM_Hillshade_SolarTirol_3857' not advertised by WMS GetCapabilities request. In rare cases WMS se

[2021-11-21 00:35] rbuffat opened #1345 "[Watchdog] Imagery "South Tyrol DTM Hillshade 2013 (0.5 m)": sources/europe/it/SouthTyrol-Hillshade_DTM-2013-highres.geojson broken"
Watchdog failed for 5 consecutive days for:
"South Tyrol DTM Hillshade 2013 (0.5 m)" -> [sources/europe/it/SouthTyrol-Hillshade_DTM-2013-highres.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/SouthTyrol-Hillshade_DTM-2013-highres.geojson)

Reason:
Error: Layers 'DTM_Hillshade_SolarTirol_3857' not advertised by WMS GetCapabilities request. In rare cases WMS se

[2021-11-21 16:00] Mahabarata commented on #1217
Just to illustrate the problem in another way :
here you have a crossroads =
https://www.openstreetmap.org/edit?way=924980260#map=19/38.75468/-90.65398

If you look at all satellite images, espacially Maxar, the ways seem to be at the wrong places. But it is false : imagery is old and the ways are ok. You can see it if you open ggle earth and look at the history of images, the most recents are fro

[2021-11-21 16:57] simonpoole commented on #1217
As has already been pointed out you need to ask maxar. They provide whatever they want to in the context of this free service and are under no obligation to do anything specific.

[2021-11-23 00:33] rbuffat opened #1347 "[Watchdog] Imagery "NC OneMap Latest Orthoimagery (Natural Color)": sources/north-america/us/nc/NCLatestOrthoimagery.geojson broken"
Watchdog failed for 5 consecutive days for:
"NC OneMap Latest Orthoimagery (Natural Color)" -> [sources/north-america/us/nc/NCLatestOrthoimagery.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/nc/NCLatestOrthoimagery.geojson)

Reason:
Error: No zoom level reachable. (Tested: 2,3,4,5,17,18,19,20) Tiles might not be present at tested location: -81.6958140

[2021-11-23 00:33] rbuffat opened #1348 "[Watchdog] Imagery "Coastal Plain NC Orthoimagery 2020 (NDVI)": sources/north-america/us/nc/NC_Coastal_Plain_Orthoimagery2020_(NDVI).geojson broken"
Watchdog failed for 5 consecutive days for:
"Coastal Plain NC Orthoimagery 2020 (NDVI)" -> [sources/north-america/us/nc/NC_Coastal_Plain_Orthoimagery2020_(NDVI).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/nc/NC_Coastal_Plain_Orthoimagery2020_(NDVI).geojson)

Reason:
Error: WMS -: Error: Could not parse XML.
Error: WMS 1.3.0: Error: Could not parse X

[2021-11-23 00:33] rbuffat commented on #1202
Imagery seems to work again.

[2021-11-23 00:33] #1202 closed, assigned to nobody

[2021-11-26 12:13] rbuffat commented on #1342
Imagery seems to work again.

[2021-11-26 12:13] #1342 closed, assigned to nobody

[2021-11-26 12:32] rbuffat commented on #1342
@bezdna Thanks for checking! The script to check the imagery sources should be fixed with https://github.com/rbuffat/eli_watchdog/commit/d1941deee320ab291aa7020730f56812f9e2f6d4

[2021-11-28 01:33] #1347 closed, assigned to nobody

[2021-11-30 00:37] rbuffat commented on #1256
Imagery seems to work again.

[2021-11-30 00:37] #1256 closed, assigned to nobody

[2021-12-01 14:52] ignaciolep opened #1355 "Layer names missing in Transifex"
Hi,
I noticed that the [Argentina's imagery](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/ar) are missing the translations in iD.

![IGN layers](https://user-images.githubusercontent.com/13091755/144255572-995c84bb-a47c-4b93-adcb-128db9e7f416.png)

The [Transifex imagery resource](https://www.transifex.com/openstreetmap/id-editor/translate/#es/imagery/) is 100%

[2021-12-01 16:48] grischard commented on #1355
The strings should be on transifex now. Thank you!

[2021-12-01 16:48] #1355 closed, assigned to grischard

[2021-12-01 22:11] ignaciolep commented on #1355
Hi @grischard ,
Unfortunately it didn't work. Argentina's layers are still missing, and there are now 139 untranslated strings that were already translated before this change.

[2021-12-03 00:36] rbuffat opened #1358 "[Watchdog] Imagery "Postcode centroids": sources/europe/gb/Code-Point_Open.geojson broken"
Watchdog failed for 5 consecutive days for:
"Postcode centroids" -> [sources/europe/gb/Code-Point_Open.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/gb/Code-Point_Open.geojson)

Reason:
Error: URL validation error:  https://www.raggedred.net/tiles/codepoint/{zoom}/{x}/{y}.png
Error: No zoom level reachable. (Tested: 16,17,18,19,20) Tiles might not be present at

[2021-12-03 19:30] Cj-Malone commented on #1358
Presumably that is lon/lat, not lat/lon.

It's in the middle of nowhere, a [transparent tile](https://www.raggedred.net/tiles/codepoint/20/517335/333188.png) is the expected result.

[2021-12-05 14:05] #1358 closed, assigned to nobody

[2021-12-05 14:06] rbuffat commented on #1358
@Cj-Malone There was a white space character in front of the URL. I was probably too tired to spot it when I looked at it the first time.

[2021-12-05 17:27] Cj-Malone commented on #1358
Whoops, my bad. Thank you.

[2021-12-05 21:08] rbuffat commented on #1358
No worries, I also didn't spot it the first time in https://github.com/osmlab/editor-layer-index/pull/1219#issuecomment-907762136

[2021-12-05 22:42] UKChris-osm opened #1362 "New GB OS Imagery Oct 2021"
The file: [../europe/gb/OSOpenMapLocal.geojson](https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/gb/OSOpenMapLocal.geojson) (added by @TurnrDev ) currently refers to the April 2021 imagery in GB, which is currently being hosted at [os.openstreetmap.org](https://os.openstreetmap.org/) and is usable within iD.

However, @Firefishy uploaded the new [October 2021 imagery](http

[2021-12-07 16:41] tyrasd commented on #453
seems to work again :smiley:

[2021-12-07 16:41] #453 closed

[2021-12-08 10:17] #1343 closed, assigned to tyrasd

[2021-12-08 10:17] #1344 closed, assigned to tyrasd

[2021-12-08 10:17] #1345 closed, assigned to tyrasd

[2021-12-09 14:27] tapetis commented on #892
@tobwen, is there an update regarding the license also in regards to the new 2021 aerial photos?

[2021-12-10 21:46] Cj-Malone opened #1364 "World Imagery Wayback"
It would be nice get [World Imagery Wayback](https://livingatlas.arcgis.com/wayback/) ([via](https://www.openstreetmap.org/user/Deane%20Kensok/diary/397014)) into editors. I don't know how hard it would be to add, there is [WMTS Server](https://wayback.maptiles.arcgis.com/arcgis/rest/services/World_Imagery/MapServer/WMTS/1.0.0/WMTSCapabilities.xml) but for some reason I can't get it to work in JOS

[2021-12-10 21:50] rbuffat commented on #1364
@Cj-Malone What are the license/terms of this data?

[2021-12-10 22:17] Cj-Malone commented on #1364
These are old versions of World Imagery. World Imagery is [available](https://wiki.openstreetmap.org/wiki/Esri) for OSM mappers. An Esri employee has [publicly documented](https://www.openstreetmap.org/user/Deane%20Kensok/diary/397014) how to use Wayback in iD, so I don't see any reason to believe that the historical World Imagery is licenced any differently to the current.

[2021-12-11 20:42] ignaciolep opened #1366 "Some layers are still missing in Transifex"
Hello,

For some reason, [Argentina's imagery](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/ar) doesn't have their entry in Transifex.

On a previous issue ( #1355 ) @grischard ran something that overwritten 139 strings that where previously translated, leaving them without translation. But, unfortunately, Argentina's entries are still missing in Transifex.

Cou

[2021-12-12 00:58] rbuffat opened #1367 "[Watchdog] Imagery "Hamburg DK5 (HH LGV DK5 2021)": sources/europe/de/Hamburg-DK5.geojson broken"
Watchdog failed for 5 consecutive days for:
"Hamburg DK5 (HH LGV DK5 2021)" -> [sources/europe/de/Hamburg-DK5.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Hamburg-DK5.geojson)

Reason:
Error: Layers '1' not advertised by WMS GetCapabilities request. In rare cases WMS server do not advertise layers.

CC contributors to this imagery:
@rbuffat, @hauke96, @simo

[2021-12-12 11:18] hauke96 commented on #1367
Yeah, the LGV recently changed the layer name. I created the PR #1368.

[2021-12-12 12:00] hauke96 commented on #1367
Since the PR is already merged, I guess this can be closed?

[2021-12-12 12:05] rbuffat commented on #1367
@hauke96 We can close it, but the script that checks the imagery each night should also close the issue when it detects that the imagery is again reachable.

[2021-12-12 12:05] #1367 closed, assigned to nobody

[2021-12-12 17:16] AntMadeira opened #1369 "How to order imagery layers?"
Recently, some imagery layers were added to iD, but some mappers are complaining that CyclOSM, for example, is the second layer in the list now, which shouldn't have such priority position. Is there a way to organize the layers for a given country by relevance in descending order?

[2021-12-12 19:01] simonpoole commented on #1369
ELI has a best flag, however it is really only useful for ranking in a category.

That said there is no real issue in creating a reasonable order from the available data (category, coverage, age and the best flag), the problems you are seeing are maybe due to the layer not being filtered out pre-build which is what I kind of remember ID doing for 'map' layers.

In any case it's an ID issue.

[2021-12-13 18:32] rivermont commented on #1364
This sounds like something that would be more of use to OHM. I don't really see how using old imagery benefits OSM, except maybe to confirm change.

[2021-12-13 23:43] boothym opened #1371 "OS Locator + OS logo"
Looks like the OS OpenData Locator is not working (tbh I think it's been that way for a while but only recently checked) - does anyone know its status? The url is for itoworld which is no longer doing OSM stuff. https://github.com/osmlab/editor-layer-index/blob/1891875b589149c9a14d181acbd45fb4d4d0f6aa/sources/europe/gb/OSOpenDataLocator.geojson

The OS layers are missing a logo, can this be added?

[2021-12-15 20:37] rbuffat commented on #1369
@AntMadeira As @simonpoole already mentioned this looks like an issue with iD. Please create an issue in the projects issue tracker: https://github.com/openstreetmap/iD/issues

I guess it is an issue that there is a growing number of layers in the index, and mappers might judge the importance of layers differently. If there is something that could help in filtering / identifying the usefulness of

[2021-12-15 20:48] AntMadeira commented on #1369
Thank you, @simonpoole and @rbuffat. I'll open a new issue with iD.

[2021-12-15 20:48] #1369 closed, assigned to nobody

[2021-12-16 00:37] rbuffat opened #1372 "[Watchdog] Imagery "Geobase Roads - French": sources/north-america/ca/GeobaseRoads-French.geojson broken"
Watchdog failed for 5 consecutive days for:
"Geobase Roads - French" -> [sources/north-america/ca/GeobaseRoads-French.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/ca/GeobaseRoads-French.geojson)

Reason:
Error: WMS -: URL: https://cartes.geogratis.gc.ca/wms/roads_fr?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.3.0: URL: h

[2021-12-16 00:37] rbuffat opened #1373 "[Watchdog] Imagery "Geobase Hydrography - English": sources/north-america/ca/GeobaseHydrography.geojson broken"
Watchdog failed for 5 consecutive days for:
"Geobase Hydrography - English" -> [sources/north-america/ca/GeobaseHydrography.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/ca/GeobaseHydrography.geojson)

Reason:
Error: WMS -: URL: https://maps.geogratis.gc.ca/wms/hydro_network_en?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.

[2021-12-16 00:37] rbuffat opened #1374 "[Watchdog] Imagery "Geobase Hydrography - French": sources/north-america/ca/GeobaseHydrography-French.geojson broken"
Watchdog failed for 5 consecutive days for:
"Geobase Hydrography - French" -> [sources/north-america/ca/GeobaseHydrography-French.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/ca/GeobaseHydrography-French.geojson)

Reason:
Error: WMS -: URL: https://maps.geogratis.gc.ca/wms/hydro_network_fr?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.

[2021-12-16 00:37] rbuffat opened #1375 "[Watchdog] Imagery "Canvec - French": sources/north-america/ca/Canvec-French.geojson broken"
Watchdog failed for 5 consecutive days for:
"Canvec - French" -> [sources/north-america/ca/Canvec-French.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/ca/Canvec-French.geojson)

Reason:
Error: WMS -: URL: https://maps.geogratis.gc.ca/wms/canvec_fr?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.3.0: URL: https://maps.geograti

[2021-12-16 00:37] rbuffat opened #1376 "[Watchdog] Imagery "Canvec - English": sources/north-america/ca/Canvec.geojson broken"
Watchdog failed for 5 consecutive days for:
"Canvec - English" -> [sources/north-america/ca/Canvec.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/ca/Canvec.geojson)

Reason:
Error: WMS -: URL: https://maps.geogratis.gc.ca/wms/canvec_en?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.3.0: URL: https://maps.geogratis.gc.ca/wms/c

[2021-12-16 12:22] tyrasd commented on #1369
there already exists issue https://github.com/openstreetmap/iD/issues/8814 (and potential fix/improvement in pull request https://github.com/openstreetmap/iD/pull/8826) for this.

[2021-12-16 22:38] rbuffat commented on #1376
https://maps.geogratis.gc.ca/wms/canvec_en?SERVICE=WMS&REQUEST=GetCapabilities seems to work fine. Probably there is something wrong with the script that checks these sources.

[2021-12-17 00:45] rbuffat commented on #1376
Imagery seems to work again.

[2021-12-17 00:45] rbuffat commented on #1375
Imagery seems to work again.

[2021-12-17 00:45] #1376 closed, assigned to nobody

[2021-12-17 00:45] rbuffat commented on #1374
Imagery seems to work again.

[2021-12-17 00:45] #1375 closed, assigned to nobody

[2021-12-17 00:45] rbuffat commented on #1373
Imagery seems to work again.

[2021-12-17 00:45] #1373 closed, assigned to nobody

[2021-12-17 00:45] #1374 closed, assigned to nobody

[2021-12-17 00:45] rbuffat commented on #1372
Imagery seems to work again.

[2021-12-17 00:45] #1372 closed, assigned to nobody

[2021-12-17 13:56] #1348 closed, assigned to cicku

[2021-12-18 00:46] rbuffat opened #1380 "[Watchdog] Imagery "Fiskeridirektoratet Aquaculture overlay": sources/europe/no/FiskeridirektoratetAquacultureoverlay.geojson broken"
Watchdog failed for 5 consecutive days for:
"Fiskeridirektoratet Aquaculture overlay" -> [sources/europe/no/FiskeridirektoratetAquacultureoverlay.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/no/FiskeridirektoratetAquacultureoverlay.geojson)

Reason:
Error: WMS None: Timeout for: https://ogc.fiskeridir.no/wms.ashx?SERVICE=WMS&REQUEST=GetCapabilities
Error: WMS

[2021-12-18 23:12] cicku commented on #1364
This layer has nothing to do with OpenStreetMap. Please bring it to https://wiki.openstreetmap.org/wiki/Open_Historical_Map.

[2021-12-19 00:39] rbuffat opened #1381 "[Watchdog] Imagery "NVE Electricity Network overlay": sources/europe/no/NVEElectricityNetworkoverlay.geojson broken"
Watchdog failed for 5 consecutive days for:
"NVE Electricity Network overlay" -> [sources/europe/no/NVEElectricityNetworkoverlay.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/no/NVEElectricityNetworkoverlay.geojson)

Reason:
Error: Layers 'Master og stolper' not advertised by WMS GetCapabilities request. In rare cases WMS server do not advertise layers.

CC con

[2021-12-19 16:52] Mahabarata opened #1383 "Géoportail"
Hi,

For France, we have in ID the map BDOrtho IGN.

IGN (Institut Géographique National) is a great source of informations : these informations are visible on this [site](https://www.geoportail.gouv.fr/carte) or this [one](https://openlayers.org/en/latest/examples/wmts-ign.html).
On the first one, we have satellite views (= the BDOrtho IGN in ID) but also cadastral parcels and IGN plan with a lot

[2021-12-19 17:17] Mahabarata commented on #1383
I just find something : [a direct link](https://www.geoportail.gouv.fr/embed/visu.html?c=-52.396703098778556,4.94683452334407&z=13&l0=GEOGRAPHICALGRIDSYSTEMS.MAPS:WMTS(1)&permalink=yes) to the IGN Plan

[2021-12-19 19:44] rbuffat commented on #1383
@Mahabarata There are two conditions that need to be met. The license / terms-of-use of the data must allow the use for OSM and the data needs to be available in a way that can be used with OSM editors.

I'm not familiar with the IGN data. Maybe @don-vip knows more.

I found these resources, maybe they are of help:
https://wiki.openstreetmap.org/wiki/France/IGN_France
https://wiki.openstreetmap.or

[2021-12-21 00:39] rbuffat opened #1386 "[Watchdog] Imagery "PNOA Spain": sources/europe/es/PNOASpain.geojson broken"
Watchdog failed for 5 consecutive days for:
"PNOA Spain" -> [sources/europe/es/PNOASpain.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/es/PNOASpain.geojson)

Reason:
Error: WMS -: URL: https://www.idee.es/wms/PNOA/PNOA?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.3.0: URL: https://www.idee.es/wms/PNOA/PNOA?SERVICE=WMS&REQUEST=Get

[2021-12-21 01:00] Mahabarata commented on #1383
Thanks for the links.
When I follow the first one, in the first part, you have a link to [this article](https://www.numerama.com/tech/679565-ca-y-est-les-donnees-publiques-de-lign-sont-libres-et-gratuites.html).
And [here](https://www.ign.fr/sites/default/files/2020-12/cp_gratuite_donnees_2020.pdf) you have an official press release from the IGN.

If I translate a little for people who don't speak

[2021-12-21 10:37] rbuffat commented on #1386
There is also a TMS source for this imagery available: https://raw.githubusercontent.com/osmlab/editor-layer-index/gh-pages/sources/europe/es/PNOASpain-TMS.geojson

Should we just remove this one?

[2021-12-22 00:38] rbuffat opened #1387 "[Watchdog] Imagery "IBGE-BCIM-Estações Geradora de Energia Elétrica": sources/south-america/br/IBGE-BCIM_gerador_de_energia.geojson broken"
Watchdog failed for 5 consecutive days for:
"IBGE-BCIM-Estações Geradora de Energia Elétrica" -> [sources/south-america/br/IBGE-BCIM_gerador_de_energia.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/br/IBGE-BCIM_gerador_de_energia.geojson)

Reason:
Error: WMS None: Timeout for: https://geoservicos.ibge.gov.br/geoserver/wms?SERVICE=WMS&REQUEST=GetCapabilit

[2021-12-22 00:38] rbuffat opened #1388 "[Watchdog] Imagery "IBGE-BCIM-Município": sources/south-america/br/IBGE-BCIM_municipio.geojson broken"
Watchdog failed for 5 consecutive days for:
"IBGE-BCIM-Município" -> [sources/south-america/br/IBGE-BCIM_municipio.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/br/IBGE-BCIM_municipio.geojson)

Reason:
Error: WMS None: Timeout for: https://geoservicos.ibge.gov.br/geoserver/wms?SERVICE=WMS&REQUEST=GetCapabilities
Error: WMS 1.3.0: Timeout for: https://geo

[2021-12-22 00:38] rbuffat opened #1389 "[Watchdog] Imagery "GURS: Building outlines": sources/europe/si/GURSBuildingoutlines.geojson broken"
Watchdog failed for 5 consecutive days for:
"GURS: Building outlines" -> [sources/europe/si/GURSBuildingoutlines.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/si/GURSBuildingoutlines.geojson)

Reason:
Error: No zoom level reachable. (Tested: 8,9,10,11,16,17,18,19) Tiles might not be present at tested location: 14.630883704654067,46.153435

CC contributors to th

[2021-12-22 15:53] #1380 closed, assigned to nobody

[2021-12-22 15:53] #1381 closed, assigned to nobody

[2021-12-24 00:51] rbuffat commented on #1388
Imagery seems to work again.

[2021-12-24 00:51] rbuffat commented on #1387
Imagery seems to work again.

[2021-12-24 00:51] #1388 closed, assigned to nobody

[2021-12-24 00:51] #1387 closed, assigned to nobody

[2021-12-27 00:27] alejandroscf commented on #1386
They just changed the domain and url, now its here:
http://www.ign.es/wms-inspire/pnoa-ma?request=GetCapabilities&service=WMS
I'll try to update the geojson

[2021-12-29 00:37] rbuffat opened #1393 "[Watchdog] Imagery "National Geographic Institute Mosaic 50k (TMS)": sources/south-america/ar/IGN-Cartas-50k.geojson broken"
Watchdog failed for 5 consecutive days for:
"National Geographic Institute Mosaic 50k (TMS)" -> [sources/south-america/ar/IGN-Cartas-50k.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/ar/IGN-Cartas-50k.geojson)

Reason:
Error: No zoom level reachable. (Tested: 0,1,2,3,12,13,14,15) Tiles might not be present at tested location: -64.27297196589531,-38.72590

[2021-12-29 18:04] Zalitoar commented on #1393
Hi @rbuffat,

Critical errors were produced while updating some images in that mosaic layer, it crashed the whole GeoSever instance.
Since then at @ign-argentina we're analyzing the problem after the rest of the service was restored.

We hope to solve the problem on the coming days.

[2021-12-29 19:34] rbuffat commented on #1393
@Zalitoar Thanks for the heads up! These issues are created automatically by a script: https://github.com/rbuffat/eli_watchdog They should be closed automatically once the script detects that the imagery is working again. (The script runs once per day).

[2022-01-02 00:39] rbuffat opened #1394 "[Watchdog] Imagery "South Tyrol DSM Hillshade 2006 (2.5 m)": sources/europe/it/SouthTyrol-Hillshade_DSM-2006-lowres.geojson broken"
Watchdog failed for 5 consecutive days for:
"South Tyrol DSM Hillshade 2006 (2.5 m)" -> [sources/europe/it/SouthTyrol-Hillshade_DSM-2006-lowres.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/SouthTyrol-Hillshade_DSM-2006-lowres.geojson)

Reason:
Error: Layers 'p_bz-Elevation:DigitalElevationModel-2.5m-Hillshade' not advertised by WMS GetCapabilities request.

[2022-01-02 00:39] rbuffat opened #1395 "[Watchdog] Imagery "South Tyrol DTM Hillshade 2006 (2.5 m)": sources/europe/it/SouthTyrol-Hillshade_DTM-2006-lowres.geojson broken"
Watchdog failed for 5 consecutive days for:
"South Tyrol DTM Hillshade 2006 (2.5 m)" -> [sources/europe/it/SouthTyrol-Hillshade_DTM-2006-lowres.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/SouthTyrol-Hillshade_DTM-2006-lowres.geojson)

Reason:
Error: Layers 'p_bz-Elevation:DigitalTerrainModel-2.5m-Hillshade' not advertised by WMS GetCapabilities request. In

[2022-01-02 00:39] rbuffat opened #1396 "[Watchdog] Imagery "South Tyrol DSM Hillshade 2013 (0.5 m)": sources/europe/it/SouthTyrol-Hillshade_DSM-2013-highres.geojson broken"
Watchdog failed for 5 consecutive days for:
"South Tyrol DSM Hillshade 2013 (0.5 m)" -> [sources/europe/it/SouthTyrol-Hillshade_DSM-2013-highres.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/SouthTyrol-Hillshade_DSM-2013-highres.geojson)

Reason:
Error: Layers 'p_bz-Elevation:DigitalElevationModel-0.5m-Hillshade' not advertised by WMS GetCapabilities request

[2022-01-02 00:39] rbuffat opened #1397 "[Watchdog] Imagery "South Tyrol DTM Hillshade 2013 (0.5 m)": sources/europe/it/SouthTyrol-Hillshade_DTM-2013-highres.geojson broken"
Watchdog failed for 5 consecutive days for:
"South Tyrol DTM Hillshade 2013 (0.5 m)" -> [sources/europe/it/SouthTyrol-Hillshade_DTM-2013-highres.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/SouthTyrol-Hillshade_DTM-2013-highres.geojson)

Reason:
Error: Layers 'p_bz-Elevation:DigitalTerrainModel-0.5m-Hillshade' not advertised by WMS GetCapabilities request.

[2022-01-03 09:17] #1394 closed, assigned to nobody

[2022-01-03 09:17] #1395 closed, assigned to nobody

[2022-01-03 09:17] #1396 closed, assigned to nobody

[2022-01-03 09:17] #1397 closed, assigned to nobody

[2022-01-04 00:38] rbuffat opened #1399 "[Watchdog] Imagery "PEMA Orthoimagery - Adams County (2021)": sources/north-america/us/pa/Adams_PEMA_2021.geojson broken"
Watchdog failed for 5 consecutive days for:
"PEMA Orthoimagery - Adams County (2021)" -> [sources/north-america/us/pa/Adams_PEMA_2021.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/pa/Adams_PEMA_2021.geojson)

Reason:
Error: URL validation error: wms:https://imagery.pasda.psu.edu/arcgis/services/pasda/PEMAImagery_AdamsCounty2021/MapServer/WmsServer?FOR

[2022-01-04 00:50] cicku commented on #1399
Fixed in https://github.com/osmlab/editor-layer-index/commit/63a325a0a609c6ea25af806e331da72f2d903638

[2022-01-04 00:50] #1399 closed, assigned to cicku

[2022-01-05 07:40] nyampire opened #1400 "[Question] About creating an Issue or plural Issues for multiple datasets"
I recently discovered that a number of GeoTIFFs are available under an open license as part of a project called Plateau, run by the Japanese government.
(This is a multiple license under the Japanese government's open data license agreement, CC-BY4.0, ODC-BY or ODbL)

OSM Foundation Japan branch is currently converting the data into tiles and making them available for use in OSM mapping and qualit

[2022-01-05 16:21] cicku commented on #1400
What kind of REST service they use to publish these tiles? WMS? WMTS? JSON?

[2022-01-05 22:50] nyampire commented on #1400
It will be xyz TMS, and will be created for each city.

[2022-01-05 23:12] cicku commented on #1400
If each place will be assigned an unique TMS URL then you have to submit 24 different files. You can submit one by one or all in one, it is up to you and there is no issue as long as they are free to go.

However, if 24 cities are published under one TMS URL then it is not needed, GeoJSON supports multiple places together in one file.

[2022-01-06 04:48] nyampire commented on #1400
Thanks a lot, I understood! And I'm glad to know we can use multipolygon feature to indicate multiple places.

I'll discuss this to our team which approach could be better. (to use, to operate and/or to update in future and so on.)

[2022-01-06 04:49] nyampire commented on #1400
(This issue could be closed)

[2022-01-08 00:38] rbuffat opened #1404 "[Watchdog] Imagery "Powiat dębicki: Buildings": sources/europe/pl/PowiatdbickiBuildings.geojson broken"
Watchdog failed for 5 consecutive days for:
"Powiat dębicki: Buildings" -> [sources/europe/pl/PowiatdbickiBuildings.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/PowiatdbickiBuildings.geojson)

Reason:
Error: Layers 'EBU,EBT' not advertised by WMS GetCapabilities request. In rare cases WMS server do not advertise layers.

CC contributors to this imagery:
@rb

[2022-01-09 01:58] cicku commented on #710
Your URL returns 404. I will close this one. However, I guess you mean https://www.arcgis.com/home/item.html?id=fa6231ebdf8a4111b5e2ac4c6417f1cd.

For Des Moines area, unfortunately all other sources are currently prohibited due to non-free license agreement.

[2022-01-09 01:58] #710 closed, assigned to cicku

[2022-01-09 02:04] cicku commented on #445
@talllguy Hi, this one has been included for a while. However, recent test shows that it is blank. Is the source removed? Also, since iMAP was refreshed in the last 2 years, is 3 inch still a good source here? I'm inclined to remove it actually.

[2022-01-09 13:50] simonpoole commented on #790
At the time I introduced `license ` it was to be able to determine if a source can be used freely outside of the narrow context of use for editing OSM.

The obvious (hypothetical at this point) use case is creating a (global) mosaic of free aerial imagery sources, which while it wouldn't be perfect, these days it could have significant hi-res coverage. Even if the project is less ambitious than th

[2022-01-09 15:49] #711 closed, assigned to cicku

[2022-01-11 00:40] rbuffat opened #1405 "[Watchdog] Imagery "SDFE DTK Kort25": sources/europe/dk/SDFEDTKKort25.geojson broken"
Watchdog failed for 5 consecutive days for:
"SDFE DTK Kort25" -> [sources/europe/dk/SDFEDTKKort25.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/dk/SDFEDTKKort25.geojson)

Reason:
Error: WMS -: URL: https://kortforsyningen.kms.dk/topo25?SERVICE=WMS&REQUEST=GetCapabilities&LOGIN=OpenStreetMapDK2015&PASSWORD=Gall4Peters Error: Could not parse XML.
Error: WMS 1.3.0

[2022-01-11 00:40] rbuffat opened #1406 "[Watchdog] Imagery "OSMIE T.ie Land not in Counties": sources/europe/ie/OSMIETieLandnotinCounties.geojson broken"
Watchdog failed for 5 consecutive days for:
"OSMIE T.ie Land not in Counties" -> [sources/europe/ie/OSMIETieLandnotinCounties.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/ie/OSMIETieLandnotinCounties.geojson)

Reason:
Error: No zoom level reachable. (Tested: 2,3,4,5,16,17,18,19) Tiles might not be present at tested location: -8.129853142667365,53.45060735

CC

[2022-01-11 09:14] 1ec5 opened #1407 "Ohio Statewide Imagery Program III"
For some reason, the Ohio Statewide Imagery Program never updated their “[OSIP 6in Imagery Most Current Available](https://github.com/osmlab/editor-layer-index/blob/bd09c22eff54bbe6334c6f109de5b81420e4b8b5/sources/north-america/us/oh/Ohio_OSIP_6in.geojson?short_path=52718e8)” layer to include the OSIP&nbsp;III imagery collected in 2020 in several southeastern Ohio counties. This imagery wound up i

[2022-01-11 09:24] 1ec5 commented on #1407
OGRIP now offers [separate ImageServers](https://geo1.oit.ohio.gov/arcgis/rest/services/OSIP) for 72 of Ohio’s 88 counties, all of them at 6-inch resolution. We’d be able to indicate the vintage year of each county’s OSIP layer, since each county was flown over only within the same year. We could confidently mark many of these layers as `best`, except where Bing imagery is more recent and at a rea

[2022-01-15 00:38] rbuffat opened #1410 "[Watchdog] Imagery "Fiskeridirektoratet Aquaculture overlay": sources/europe/no/FiskeridirektoratetAquacultureoverlay.geojson broken"
Watchdog failed for 5 consecutive days for:
"Fiskeridirektoratet Aquaculture overlay" -> [sources/europe/no/FiskeridirektoratetAquacultureoverlay.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/no/FiskeridirektoratetAquacultureoverlay.geojson)

Reason:
Error: Layers 'Flate_ihht_Akvakulturregisteret63550,Akvakultur_-_Lokaliteter60466' not advertised by WMS GetCapa

[2022-01-16 00:36] cicku commented on #1407
Are you trying to add 72 new files here?

[2022-01-16 00:39] 1ec5 commented on #1407
After [discussing the matter](https://osmus.slack.com/archives/C7Q912JDT/p1641893164008500) with other Ohio-based mappers in OSMUS Slack, we agreed that the 72 per-county layers would be less convenient than the single layer for all 72 counties, because it’s very common to need to draw something across county lines. If there’s a particular county where Bing is very poor and OSIP III was taken in 2

[2022-01-16 00:40] 1ec5 commented on #1407
Here’s the URL template a few of us have been using temporarily in iD:

[code]

[2022-01-16 11:12] #1386 closed, assigned to nobody

[2022-01-18 02:50] kaspesla opened #1412 "MassGIS LIDAR Shaded Relief is just showing as black on OSM iD editor"
I'm not sure this the right place to report, but as of the last few weeks the MassGIS LIDAR Shaded Relief layer is just showing as black on OSM iD editor.

[2022-01-18 09:30] rbuffat commented on #1412
Thanks for reporting! It looks like the URL has changed  from
`https://tiles.arcgis.com/tiles/hGdibHYSPO59RG1h/arcgis/rest/services/Shaded_Relief_LiDAR/MapServer/tile/19/194309/159125`
to
`https://tiles.arcgis.com/tiles/hGdibHYSPO59RG1h/arcgis/rest/services/LiDAR_ShadedRelief/MapServer/tile/15/12116/9872?blankTile=false`

@cicku @gdt

Unfortunately, the server returns HTTP Code 200 (OK) with:

[co

[2022-01-18 12:04] gdt commented on #1412
MassGIS has changed their layer names and URLs around.    We in the MA OSM commmunity are figuring this out and I will submit a PR with a fixed URL fairly soon.

[2022-01-18 12:05] gdt commented on #1412
And @kaspesla  you could join talk-us-massachusetts@ where we tend to have MassGIS news.

[2022-01-18 13:36] cicku commented on #1412
Is it a temporary change or permanent? I have no idea what MassGIS is doing there. We can fix the URL but I want to make sure that they won't change again any time soon.

[2022-01-18 14:11] gdt commented on #1412
It is a permanent change, and associated with releasing a somewhat reprocessed layer from the raw data.  While I didn't expect this URL change, I don't see this as likely to be unstable in the future in the 1-year timeframe.  (5 years, everything is unstable.)

[2022-01-18 17:41] #1412 closed, assigned to cicku

[2022-01-18 17:41] cicku commented on #1412
Fixed.

[2022-01-18 17:50] gdt commented on #1412
Great, thank you.

[2022-01-18 20:59] rbuffat commented on #1213
@cicku @simonpoole  The strict_check should now warn if there is a compatible tms URL available. For the WMTS Url of https://github.com/osmlab/editor-layer-index/issues/1213#issuecomment-917650745
the script now returns:

[code]

[2022-01-18 20:59] #1213 closed, assigned to nobody

[2022-01-19 20:24] rbuffat commented on #1340
I created a PR that implements `"privacy_policy_url": false` to indicate that there is no privacy policy available: https://github.com/osmlab/editor-layer-index/pull/1414. One thing to discuss is that with this approach privacy_policy_url is either a string or a bool. For untyped languages such as javascript or python, this is not an issue. But I'm not sure how much this will be an issue/break thi

[2022-01-19 21:24] bryceco commented on #1340
I can accept false, null or empty string. There’s no issue for typed languages.

[2022-01-20 09:30] simonpoole commented on #1340
@rbuffat I noticed that @systemed wasn't included in the mentions, afaik P3 uses ELI too.

Due to the wonders of google not actually implementing what they say their methods do in their GSON library, using the (boolean) false will not cause any issues than displaying _false_ instead of an URL, which is bearable behaviour. So, OK with me.

[2022-01-20 15:13] rbuffat commented on #1340
It would be good if we would maintain a list of persons to include in discussions/issues that involves the schema!

To be safe we could drop the `privacy_policy_url` if it is not an URL when generating the imagery.geojson. This would work if editors would not care to distinguish between "nobody cared to look for a privacy policy"  (=there is no `privacy_policy_url` element) and "there is no privac

[2022-01-23 00:36] rbuffat opened #1415 "[Watchdog] Imagery "SDFE Surface Shadow Map (40 cm)": sources/europe/dk/SDFESurfaceShadowMap(40cm).geojson broken"
Watchdog failed for 5 consecutive days for:
"SDFE Surface Shadow Map (40 cm)" -> [sources/europe/dk/SDFESurfaceShadowMap(40cm).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/dk/SDFESurfaceShadowMap(40cm).geojson)

Reason:
Error: Layers 'dhm_overflade_skyggekort' not advertised by WMS GetCapabilities request. In rare cases WMS server do not advertise layers.

CC

[2022-01-23 00:36] rbuffat opened #1416 "[Watchdog] Imagery "SDFE Terrain Shadow Map (40 cm)": sources/europe/dk/SDFETerrainShadowMap(40cm).geojson broken"
Watchdog failed for 5 consecutive days for:
"SDFE Terrain Shadow Map (40 cm)" -> [sources/europe/dk/SDFETerrainShadowMap(40cm).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/dk/SDFETerrainShadowMap(40cm).geojson)

Reason:
Error: Layers 'dhm_terraen_skyggekort' not advertised by WMS GetCapabilities request. In rare cases WMS server do not advertise layers.

CC co

[2022-01-24 18:53] rbuffat commented on #1340
I have now merged https://github.com/osmlab/editor-layer-index/pull/1414. Thus privacy_policy_url = false is now accepted by the check scripts. If there is an issue downstream, please comment. Then I will implement that all non-URL privacy_policy_url are dropped in the imagery.geojson.

[2022-01-24 18:53] #1340 closed, assigned to nobody

[2022-01-26 00:41] rbuffat opened #1421 "[Watchdog] Imagery "Ministerio de Agricultura, Ganadería y Pesca (WMS)": sources/south-america/ar/Ministry-of-Agriculture_wms.geojson broken"
Watchdog failed for 5 consecutive days for:
"Ministerio de Agricultura, Ganadería y Pesca (WMS)" -> [sources/south-america/ar/Ministry-of-Agriculture_wms.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/ar/Ministry-of-Agriculture_wms.geojson)

Reason:
Error: Exception: Could not parse XML.
Error: Exception: Could not parse XML.
Error: Exception: Could not p

[2022-01-26 00:41] rbuffat opened #1422 "[Watchdog] Imagery "ITACyL - Castile and León": sources/europe/es/ITACyL-CastileandLen.geojson broken"
Watchdog failed for 5 consecutive days for:
"ITACyL - Castile and León" -> [sources/europe/es/ITACyL-CastileandLen.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/es/ITACyL-CastileandLen.geojson)

Reason:
Error: Layer 'Ortofoto_CyL' does not support style 'Default'

CC contributors to this imagery:
@simon04, @Klumbumbus, @iandees, @tyrasd, @rbuffat

[2022-01-26 16:47] Zalitoar commented on #1421
Hi @rbuffat that service was moved or deleted. The ministry responsible of it didn't announced a replacement or a new URL. I could remove it from this index until further notice.

[2022-01-26 21:57] ignaciolep commented on #1366
PR #1425 fixes this.
Thanks!

[2022-01-26 21:57] #1366 closed, assigned to nobody

[2022-01-28 00:36] rbuffat commented on #1421
Imagery seems to work again.

[2022-01-28 00:36] #1421 closed, assigned to nobody

[2022-01-28 09:55] sulfo commented on #1415
Hi @rbuffat & @grischard.

Multiple of the SDFE resources has been updated with new login credentials. They can be found here: https://josm.openstreetmap.de/wiki/Maps/Denmark

I'm more than happy trying to update the resource (if I can figure it out 😄 )

Ref #1416 #1405

[2022-01-29 00:35] rbuffat opened #1427 "[Watchdog] Imagery "Mesa County GIS Valleywide 2018": sources/north-america/us/co/MesaCountyValleywideImagery2018.geojson broken"
Watchdog failed for 5 consecutive days for:
"Mesa County GIS Valleywide 2018" -> [sources/north-america/us/co/MesaCountyValleywideImagery2018.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/co/MesaCountyValleywideImagery2018.geojson)

Reason:
Error: WMS -: URL: https://mcgis.mesacounty.us/image/services/Mosaic_Datasets/City_Color_2018/ImageServer/WMSSer

[2022-01-29 13:24] talllguy commented on #445
@cicku you are right, it appears down. It should still be working; I will check with IMAP.

[2022-01-30 01:30] rbuffat opened #1429 "[Watchdog] Imagery "Ruda Śląska: Orthophotomap (aerial image)": sources/europe/pl/RudalskaOrthophotomap(aerialimage).geojson broken"
Watchdog failed for 5 consecutive days for:
"Ruda Śląska: Orthophotomap (aerial image)" -> [sources/europe/pl/RudalskaOrthophotomap(aerialimage).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/RudalskaOrthophotomap(aerialimage).geojson)

Reason:
Error: WMS -: URL: https://rudaslaska.geoportal2.pl/map/wmsorto/wms.php?SERVICE=WMS&REQUEST=GetCapabilities Error: C

[2022-01-30 01:30] rbuffat commented on #1389
Imagery seems to work again.

[2022-01-30 01:30] #1389 closed, assigned to nobody

[2022-01-30 07:37] stefanb commented on #1389
Yeah, there was a bug with automatic petiodic update, fixed in https://github.com/fossgis/wms.openstreetmap.de/commit/33e19fd5d0578e18ab546e7dea90c4ccc778c3b9

Tnx for checking it!

[2022-01-30 07:59] stefanb commented on #474
Somewhat obsoleted by better, 25cm orthophoto TMS, added in https://github.com/osmlab/editor-layer-index/pull/825

[2022-01-31 09:31] simonpoole commented on #1071
IMHO this issue can be closed. In fall 2021 swisstopo modified their attribution requirements so that in principle anything that they have published as open data can be utilized in OSM, naturally the actual dataset needs to be listed on the wiki contributors page.

[2022-01-31 09:42] #1071 closed, assigned to nobody

[2022-01-31 13:26] tsmock commented on #1427
It looks like it is down on their website as well.

I really ought to look into building a custom tile server for it. Specifically, one for 2020 (the most current imagery) which is not in ELI since it is WMTS only.

[2022-02-02 01:26] #1410 closed, assigned to nobody

[2022-02-07 00:38] rbuffat opened #1440 "[Watchdog] Imagery "Alpes-Maritimes 2020 (Storm Alex)": sources/europe/fr/Alpes-Maritimes-2020-Storm-Alex.geojson broken"
Watchdog failed for 5 consecutive days for:
"Alpes-Maritimes 2020 (Storm Alex)" -> [sources/europe/fr/Alpes-Maritimes-2020-Storm-Alex.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/fr/Alpes-Maritimes-2020-Storm-Alex.geojson)

Reason:
Error: No zoom level reachable. (Tested: 7,8,9,10,17,18,19,20) Tiles might not be present at tested location: 7.3186869306097675,4

[2022-02-07 01:33] pietervdvn opened #1441 "Bing maps does not contain a slippy map URL"
In the [Bing source file](https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/world/Bing.geojson), the `url` field merely links to `bing.com/maps`.

As this is not a slippy map tile URL format, I'm wondering how to use this entry.

[2022-02-07 08:31] tyrasd commented on #1441
Bing uses a special protocol, which you have to implement manually. This is indicated by the `"type": "bing"` property here. You can find information about how to load bing tiles on the following Microsoft documentation pages: https://docs.microsoft.com/en-us/bingmaps/rest-services/directly-accessing-the-bing-maps-tiles, https://docs.microsoft.com/en-us/bingmaps/articles/bing-maps-tile-system, etc

[2022-02-07 08:31] #1441 closed, assigned to nobody

[2022-02-07 08:40] tyrasd commented on #1441
PS: You might also take a look at how other editors implement the Bing layer:

e.g. iD implements it in [`background_source.js`](https://github.com/openstreetmap/iD/blob/develop/modules/renderer/background_source.js#L263).

Note that you will also need an API key for your map editor. @mbrzakovic might be able to help with that??

[2022-02-07 08:47] simonpoole commented on #1441
Just in case it isn't clear, pls do not use one of the keys used by another editor.

[2022-02-07 19:16] pietervdvn commented on #1441
Allrights, thanks for clarifying!

[2022-02-07 19:58] #1362 closed, assigned to nobody

[2022-02-07 20:24] rbuffat commented on #1427
@tsmock  Thanks for the information! The issue was generated by our imagery test script (I should definitely change the user that creates these issues!) The script should close the issue automatically when it would detect that the imagery is online again. I'm not sure how likely this is given.

I did a quick search and found the following image server, that seems to host a WMS service for 2020 ima

[2022-02-07 20:33] rbuffat commented on #1429
@Asteliks  would it possible for you to have a look at this issue?

[2022-02-07 21:36] #1416 closed, assigned to nobody

[2022-02-07 21:36] #1405 closed, assigned to nobody

[2022-02-07 21:36] #1415 closed, assigned to nobody

[2022-02-07 21:47] tsmock commented on #1427
It does have an `exportimage` parameter for WMS usage.

Example: https://mcgis.mesacounty.us/image/rest/services/Mosaic_Datasets/City_County_2020/ImageServer/exportImage?f=image&bbox=707158.8192363052%2C4321403.386123106%2C723414.8517483702%2C4329379.0020743385&imageSR=102206&bboxSR=102206&size=1920%2C942

While the server they use technically has that feature, it something _I've_ been avoiding, s

[2022-02-07 21:58] rbuffat commented on #1427
@tsmock the linked service is also exposed as WMS:

[code]

But the server does not state any access constraints/license information. Thus, if there are not some other places with this information we should contact them anyway to ask for this information.

[2022-02-07 22:25] #1220 closed, assigned to nobody

[2022-02-07 22:25] #1221 closed, assigned to nobody

[2022-02-07 22:26] #1222 closed, assigned to nobody

[2022-02-07 22:26] #1223 closed, assigned to nobody

[2022-02-07 22:26] #1224 closed, assigned to nobody

[2022-02-07 22:27] #1325 closed, assigned to nobody

[2022-02-07 22:27] rbuffat commented on #1306
The source is still broken. Should we remove it?

[2022-02-07 22:37] rbuffat commented on #1172
Closing this issue as there seems to be no interest.

[2022-02-07 22:37] #1172 closed, assigned to nobody

[2022-02-07 22:39] #998 closed, assigned to nobody

[2022-02-07 22:42] rbuffat commented on #272
There are now checks for WMTS sources: https://github.com/osmlab/editor-layer-index/blob/gh-pages/scripts/strict_check.py#L563-L616

[2022-02-07 22:42] #272 closed

[2022-02-07 23:02] rbuffat opened #1446 "How long should we keep outdated imagery in ELI"
**Problem:**

For some regions, there is new imagery available in regular intervals (e.g. each year). The question is, how long should we keep old imagery in ELI.

Keeping old imagery in ELI has some negative aspects:
- Old imagery is less relevant
- The size of the imagery.geojson is unnecessary increased if we keep not relevant imagery
- The maintenance work is increased
- Mappers could not be a

[2022-02-07 23:10] rbuffat commented on #1312
It looks as this layer is still broken. Should we remove it?

Maybe @nyampire you know more about this layer or know somebody in the Japanese OSM community that does?

[2022-02-07 23:18] rbuffat commented on #211
We currently do not use a geojson conform encoding of MultiPolygons. There is https://github.com/osmlab/editor-layer-index/pull/857 to fix this, but it is stale for quite a while. With the changes in this PR the validity of geometries are tested with the shapely python library (which uses geos) https://shapely.readthedocs.io/en/stable/manual.html#diagnostics

[2022-02-07 23:26] rbuffat opened #1447 "Are imagery.json / imagery.xml still needed?"
Next to imagery.geojson we produce imagery.json and imagery.xml? Are these files still used by anybody? If not, we should stop creating them.

CC @grischard, @simonpoole @bhousel @bryceco @Klumbumbus @systemed @tyrasd

[2022-02-07 23:27] nyampire commented on #1312
@rbuffat As far as I know, the URL is [migrated to new endpoint](https://aginfo.cgk.affrc.go.jp/mapprv/wms.html.ja). I'll take a look to fix this.

[2022-02-07 23:29] systemed commented on #1447
Potlatch uses imagery.json.

[2022-02-07 23:33] rbuffat opened #1448 "Maintaining a list of ELI consumers to include into discussion related to schema changes"
Ideally, there are not many changes to ELI's schema. But if there are, it would be good to discuss them with all consumers beforehand. To facilitate this, it would be good to maintain a list with people to include in discussions, such as e.g. the change of how mulitpolygons are encoded https://github.com/osmlab/editor-layer-index/pull/857.

A suggestion would be:

* iD: @tyrasd
* Vespucci: @simonp

[2022-02-07 23:51] grischard commented on #1447
I think JOSM'S ImageryCompare uses the josm-format XML. The conversion also makes imports of entries towards josm less complicated.

[2022-02-08 00:51] #1407 closed, assigned to nobody

[2022-02-08 01:32] cicku commented on #1446
My opinion is no more than 2 imageries should be allowed for the same region in ELI (composite is an exception).

It would be better for iD to support reading from ESRI metadata or Bing or...to tell users more. If they cannot, then it is their "fault" to trick users using obsolete things.

If people wish to get something from 10 years ago here, they should dump to OpenHistoricalMap.

[2022-02-08 07:19] nyampire commented on #1312
@rbuffat I've checked it. It is new endpoint and works well on my iD and JOSM, but slightly slow for response. (10 sec or slower) The test might judge it as fail with this slow response?

[2022-02-08 07:20] nyampire commented on #1312
the TMS repo is [here](https://aginfo.cgk.affrc.go.jp/ws/tmc/1.0.0/KBN2500FN-900913-L/).  It is same as the URL described in the geojson setting.

[2022-02-08 11:08] simonpoole commented on #1447
Vespucci has used the 'standard' geojson output for a long time.

[2022-02-08 15:08] tyrasd commented on #1447
iD currently still uses the "legacy" `imagery.json`, but I plan to switch to the `.geojson` version pretty soon.

[2022-02-09 00:41] rbuffat commented on #1312
Imagery seems to work again.

[2022-02-09 00:41] #1312 closed, assigned to nobody

[2022-02-09 16:11] Mahabarata opened #1451 "Preset for Maxar"
Hi,

I'm not sure if this issue is a editor-layer-index issue or an id-tagging-schema issue :
in transifex, we have almost all the imageries (name and description) but not Maxar Premium Imagery : could you add it ?

Best regards

[2022-02-09 19:03] rbuffat commented on #217
Implemented with https://github.com/osmlab/editor-layer-index/pull/1450

[2022-02-09 19:03] #217 closed

[2022-02-09 19:11] rbuffat commented on #211
With https://github.com/osmlab/editor-layer-index/pull/1450 there is now a validation for geometries. Detected errors include e.g..:

[code]

[code]

In combination with the jsonschema checks, there is now a nearly complete check for GeoJSON validity. Thus I'm closing this issue.

[2022-02-09 19:11] #211 closed

[2022-02-09 20:02] rbuffat commented on #496
In the past 1-2 years the scope of ELI's quality checks increased considerably. I don't see currently a listed issue on https://josm.openstreetmap.de/wiki/ImageryCompare that needs urgent action regarding the check scripts.

Also, an issue is that it includes way too much not relevant noise. Without being familiar with the compare script / JOSM its output is not that useful.

[2022-02-09 20:02] #496 closed

[2022-02-09 20:09] rbuffat commented on #428
With the exception of
- Check whether layer is present in JOSM's [JOSM's ImageryCompare](https://josm.openstreetmap.de/wiki/ImageryCompare).
- Check whether trailing slashes and www prefixes can be removed

I think everything of the list above is implemented either in `check.py` (Testing the "minimal" checks for all sources without HTTP requests), `strict_check.py` (Stricter checks for all new or

[2022-02-09 20:09] #428 closed

[2022-02-09 20:12] grischard commented on #428
The slashes and prefix are quite minor, but synchronisation with josm is probably so big that it could use its own ticket.

[2022-02-09 20:14] rbuffat commented on #237
It would be certainly good to include the namespace. But as only JOSM uses the XML format (And I assume not many people use the ELI imagery.xml with JOSM and to my knowledge there were no reports of any issues in the last years) I'm inclined to close this issue. Other projects should preferably use the imagery.geojson.

[2022-02-09 20:14] #237 closed

[2022-02-09 20:20] rbuffat commented on #428
True! I don't think that an automatic import from JOSM data is a good idea. Not sure what the best way would be. Maybe a https://josm.openstreetmap.de/wiki/ImageryCompare like script with the focus of only the most important things (changed license URLs / changed imagery URLs, and missing imagery)

[2022-02-09 20:58] rbuffat commented on #1115
@sulfo could you have a look at this issue?

[2022-02-10 10:08] sulfo commented on #1115
Hi @rbuffat - Sure 🤘
I will take a look at it 👍

[2022-02-11 20:54] grischard commented on #428
The focus, long term, should be to have one index. Easy conversions and things like automatic PRs to reflect in ELI what's been updated on the JOSM side would make our lives a lot easier.

It's something where I'm hoping @tyrasd will have some good ideas.

[2022-02-11 20:56] grischard commented on #496
The [ImageryCompare script](https://josm.openstreetmap.de/browser/josm/trunk/scripts/SyncEditorLayerIndex.java) is actually open source.

[2022-02-11 21:29] rbuffat commented on #428
I'm strongly against such automatic imports without review. Everybody can enter anything in the JOSM index. The system here where in most cases a second person has a look at the license terms is something that should not be abandoned.

If something is in the index the chances that somebody else will look at it is slim. https://github.com/osmlab/editor-layer-index/labels/waitfor%20-%20license%20%2F

[2022-02-11 21:56] rbuffat opened #1455 "Ensure same polygon orientation for all geometries"
See https://github.com/osmlab/editor-layer-index/pull/1452#issuecomment-1036615123

- [x] Check geometry orientation for new PR in strict_check.py
- [x] Update all existing sources to have a consistent orientation

[2022-02-12 06:44] simonpoole commented on #1446
From a consumer of ELI POV such layers should be moved to the historicphoto category to make it clear that they have been superseded and shouldn't be shown except when the user is explicitly looking for them.

[2022-02-12 15:10] Mahabarata commented on #1217
Both examples above (my comments on 21 Nov 2021 and on 6 Nov 2021/28 Aug 2021) are working now : Maxar Premium is back, great !

[2022-02-14 02:05] 1ec5 opened #1458 "Richland Parish (Louisiana) Assessor’s Office"
The tax assessor’s office of Richland Parish, Louisiana, has released 6-inch imagery of the entire parish and 3-inch imagery of its towns and is distributing them through Louisiana State University.

## URL of the imagery
https://tiles.arcgis.com/tiles/SDQDNhpG8jikA0D1/arcgis/rest/services/Richland_Parish_6_inch_2016/MapServer
https://tiles.arcgis.com/tiles/SDQDNhpG8jikA0D1/arcgis/rest/services/Ri

[2022-02-15 00:45] rbuffat opened #1460 "[Watchdog] Imagery "Lombardia - Italy (C.T.R. 10000 - 1980-94)": sources/europe/it/Lombardia-Italy-CTR.geojson broken"
Watchdog failed for 5 consecutive days for:
"Lombardia - Italy (C.T.R. 10000 - 1980-94)" -> [sources/europe/it/Lombardia-Italy-CTR.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/Lombardia-Italy-CTR.geojson)

Reason:
Error: Layers 'C.T.R. 10000 - 1980-94' not advertised by WMS GetCapabilities request. In rare cases WMS server do not advertise layers.

CC contr

[2022-02-15 01:37] cicku commented on #1458
How about getting a waiver before submitting here... 🤣

[2022-02-15 01:39] 1ec5 commented on #1458
Fair enough, I just needed a convenient place to put these notes when sharing it to locals so they can ask for permission, but I can use a Gist next time. Sorry for the noise!

[2022-02-15 09:32] rbuffat commented on #1458
@1ec5 it is perfectly fine to create the issue without having already a waiver. Issues are places where discussion can and should happen.

[2022-02-16 11:45] rbuffat opened #1461 "Bug: check geometry against union of bounding boxes for multi layer WMS"
See https://github.com/osmlab/editor-layer-index/issues/1457#issuecomment-1040779207_

[2022-02-16 20:39] #1461 closed, assigned to nobody

[2022-02-16 22:08] #1455 closed, assigned to nobody

[2022-02-16 22:45] rbuffat opened #1465 "Test if imagery is newest for region or `historic`"
Currently, we do not check if added imagery is the most recent for a region, or already included imagery will not be the most recent anymore.

[2022-02-18 09:46] 1ec5 opened #1467 "TIGER Roads 2021"
A new [TIGER/Line shapefile](https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.html) was released in October 2021. I’m mapping some newish subdivisions and would find an updated version of the TIGER Roads 2020 overlay to be very handy.

https://github.com/osmlab/editor-layer-index/blob/874124fa6bbca3c76691ea071565f4ebeec42f79/sources/north-america/us/TIGER2020RoadsOv

[2022-02-18 15:11] sulfo commented on #1115
Hi @rbuffat.

I've checked and it's updated with the latest one.
SDFE usually release a new sets of spring imagery (orto_foraar) after it's been taken. However the service has not been QA, and therefor I don't think we should add it to the editor layer. It can be glitchy some times.

After QA they update the SDFE aerial imager layer.

[2022-02-18 18:21] iandees commented on #1467
👋🏻  Thanks for the reminder. I've got a long weekend coming up and I'll see if I can generate this.

[2022-02-18 19:43] cicku commented on #1467
Is it still going to be managed by Mapbox?

[2022-02-18 20:24] coolultra1 commented on #1446
I personally think, all imagery should be kept in ELI. This is an index of what exists, and not what is useful. As long as old imagery is classified historicphoto, there is no reason not to keep it.

[2022-02-18 20:27] rbuffat commented on #1446
Not true:

[2022-02-18 20:31] iandees commented on #1467
Yep. Why do you ask?

[2022-02-18 20:34] cicku commented on #1467
Nothing, I wonder if anything needs to be reviewed.

[2022-02-19 02:46] iandees commented on #1467
Complete. New style ID is `openstreetmapus/ckzt8dcby007j15qkki8216s8` if someone wants to make a new index entry.

[2022-02-19 04:20] #1467 closed, assigned to nobody

[2022-02-20 12:16] simonpoole commented on #1446
This is a general issue naturally.

We could de-duplicate the coverage geometries quite substantially if we are not too picky about them being exactly correct for the layer in question.

Or even more "radical" just have a bounding box (potentially more than one) in the standard distribution file and keep the detailed geometries separate.

A twist on that could be a tile based index of the availabl

[2022-02-20 12:33] tyrasd commented on #1446
I think there is no good reason to not include older layers in ELI.

Editors can always choose to show or not show the very old ones based on the provided dates (e.g. iD right now excludes everything known to be older than 20 years). FWIW, we even have some sources in ELI which contain much more antique data: e.g. USGS Topographic Maps is claimed to contain data from the 1950s.

From personal expe

[2022-02-20 12:43] cicku commented on #1446
USGS Topographic Maps? Honestly it should be removed as well. The reason why it is there is unclear to me. USGS has digitalized all data and that old map is just off topic. You cannot use the data from 50 years ago and tell me “I won’t make any mistake”.

Editor can choose or not… Sorry, it is better to not let anyone choose here. You choose 2012 over 2020 it means you tend to introduce more issue

[2022-02-20 12:59] tyrasd commented on #1446
I found it to be a pretty good source while mapping natural features for example. Of course one needs to take into account the vintage while using it.

OK, if there is a more recent version of that source, let's replace it. I just wanted to make an anecdotal point that for some mapping tasks recency is not the only relevant quality criterion.

Wait, the question here is not whether to use 2012 ove

[2022-02-20 13:09] cicku commented on #1446
_Sorry I’m on my phone and cannot format the reply well._

USGS (only government sources, no 3rd party):

1. For water, NHD (markup)
2. For road name, TIGER (USGS has a MapServer syncing with)
3. USGS 3DEP (LiDAR)
4. Wetland/Mountain/Lake/Reservoir/airport…these feature can either be mapped by eyeball or by recent imageries like USGS/NAIP.
5. Please add if I miss.

For multiple sources regarding #

[2022-02-20 13:21] imagico commented on #1446
At the risk of sounding like a broken record:  The problem is not layers with explicitly documented age of imagery being very old, the problem is the global aggregate layers combining different imagery of very different age without documentation of that and those being advertised by editors as the default without any warning of that including images older than 20 years.

For Bing editors could eas

[2022-02-20 13:52] kallejre commented on #1446
I was thinking of reply for quite some time and main points are already covered by previous comments made in past hour.
I think *Editor* part of ELI's name can be optional. I'm not really deeply informed about GIS topics, but i see ELI's value far beyond OSM ecosystem. Think of it as global open dataset about aerial imagery or maps coming from various different sources.

Mappers are constantly rem

[2022-02-20 14:08] cicku commented on #1446
@kallejre It cannot be optional. We review imageries that may or may not be compatible with OSM. Dropping it means not only a larger list will be introduced, but also the list can no longer be safely used for OSM editors.

[2022-02-20 15:27] simonpoole commented on #1446
@cicku

This is not really an issue, and in the past we actually maintained licence information in ELI that made it possible for use outside of the narrow application to OSM editors to be safe (unluckily this was removed for unclear reasons), The thing is that we have in general more relaxed terms for OSM editor use than for non-editor use, not the other way around.

For example you can't use any

[2022-02-23 10:44] matkoniecz opened #1471 "Default layer for Lesotho is unavailable in Lesotho"
https://www.openstreetmap.org/edit?editor=id#map=16/-29.6480/28.0250

![screen](https://user-images.githubusercontent.com/899988/155304098-1586a761-9546-41ad-9c77-39a64b207d4f.png)

(Likely enclave !!fun!!)

[2022-02-24 04:24] cicku commented on #1446
Nothing is an issue until the list is hard to maintain. That’s why it was dropped.

Today I can approve PR of 5 imageries, tomorrow someone can bring 10 imageries together to us asking for the same. State where I live (Delaware of US) has aerial captured from 1926 to 1997, looks like we should include them all together. Reason to do that? Does not matter.

If this really happens, I’m afraid I cann

[2022-02-25 14:18] talllguy opened #1472 "New Services URL for Delaware Imagery"
The Delaware Imagery services have been migrated as of February 2022. The imagery was first added in #165

## New links

- [2017](https://imagery.firstmap.delaware.gov/imagery/rest/services/DE_Imagery/DE_Imagery_2017/ImageServer)
- [2012](https://imagery.firstmap.delaware.gov/imagery/rest/services/DE_Imagery/DE_Imagery_2012/ImageServer)

## Announcement

FirstMap Update - February 2022
Greetings f

[2022-02-28 18:09] cicku commented on #1472
Hi Elliott!

Would you please confirm if this is a duplicate of https://github.com/osmlab/editor-layer-index/pull/1242?

[2022-03-03 11:14] davidhicks commented on #1451
Maxar Premium is not freely licensed per requirements at https://github.com/osmlab/editor-layer-index/blob/gh-pages/FAQ.md#what-imagery-licenses-are-compatible-with-this-index

See Maxar's EULA for OpenStreetMap at https://wiki.openstreetmap.org/wiki/Maxar#Legal_permissions and MapBox's EULA at section 1.5 of https://www.mapbox.com/legal/service-terms for the very explicit permissions granted to t

[2022-03-04 16:08] #1472 closed, assigned to cicku

[2022-03-07 02:24] talllguy commented on #1472
Sorry I missed this. I did search but didn't find that referenced ticket. I figured it was new since it was just announced in February

[2022-03-07 14:07] talllguy opened #1476 "NAIP (National Agricultural Imagery Program) down (HTTP 200)"
[NAIP](https://github.com/osmlab/editor-layer-index/blob/e07b2bb4c9194af13bd55422baa49b719eebf127/i18n/en.yaml#L278-L282) is down.

Sample tile: https://gis.apfo.usda.gov/arcgis/services/NAIP/USDA_CONUS_PRIME/ImageServer/WMSServer?FORMAT=image/jpeg&TRANSPARENT=TRUE&VERSION=1.1.1&SERVICE=WMS&REQUEST=GetMap&LAYERS=0&STYLES=&SRS=%7Bproj%7D&WIDTH=%7Bwidth%7D&HEIGHT=%7Bheight%7D&BBOX=%7Bbbox%7D

The [N

[2022-03-08 20:29] talllguy commented on #1476
Seems like this is back online. I will close it.

[2022-03-08 20:29] #1476 closed, assigned to nobody

[2022-03-12 16:23] Mahabarata commented on #1451
Hi,

this is not my asking : see this capture
![Capture d’écran 2022-03-12 125237](https://user-images.githubusercontent.com/3121119/158025094-63049ca7-ef0c-4f7a-be3d-111a16ed8ad9.png)

The first line is not in polish or english but in french because in transifex you add the original text so we may translate it.
Same thing for the 2d, 3rd, 4th, 6th, 7th, 8th... in fact all the lines are not the or

[2022-03-18 01:44] andrewharvey commented on #1446
In my opinion there should be no limit we should continue to include old imagery so long as the licensing is still valid and the URLs are accessible.

As has been pointed out older imagery is useful as:

- it may be clearer or less obstructed or higher resolution then the latest
- it help for adding `start_date` tags
- if you encounter for example a building mapped OSM which doesn't exist in lates

[2022-03-26 02:29] OptikalCrow opened #1490 "New Layer Request: USGS 3D Elevation Program"
These two layers appear to be the most useful of the USGS 3D Elevation Program WMS services. One is a general hillshade which is useful for determining stream flowpaths, track roads through forested areas, and in some areas foot trails. The other is a dynamic contour lines layer useful as an overlay to assess land gradients at finer detail than scanned USGS topographic maps.

[JOSM includes the hi

[2022-03-26 13:34] cicku commented on #1490
Thank you for mentioning this. I am already aware of the data here.

[2022-03-27 09:50] ElDavoo opened #1492 "PCN Italy not working"
Is it just me or are the PCN Italy sources not working?

[2022-03-28 21:11] talllguy opened #1493 "End support for Maryland Transportation Basemap"
Wearing several hats, here... my organization, MDOT State Highway Administration, is no longer maintaining or updating our Maryland Transportation Basemap, which is part of this index (see #155). **Please remove it from the OSM Editor Index** as it is now woefully out of date and will soon be removed.

[The layer is here in the index](https://github.com/osmlab/editor-layer-index/blob/6c1d2877943ef

[2022-04-06 17:20] cicku commented on #1493
Done.

[2022-04-06 17:20] #1493 closed, assigned to cicku

[2022-04-08 06:52] nyampire commented on #1400
Hello team, sorry to add re-open comment on this issue. @cicku

I'm writing the geojson to register 24 cities of Japan.
(Plateau project starts TMS service as official finally!)

It could be `FeatureCollection` I guess, but `FeatureCollection` could not include `properties`.

Could you give me a hint to write properties for this layer-index as valid format?

My WIP file is here.
https://github.com

[2022-04-09 13:45] cicku commented on #1400
An example is here:

https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/north-america/us/ar/ADOP_2017_6in.geojson

[2022-04-10 14:16] #1400 closed, assigned to cicku

[2022-04-11 05:40] nyampire commented on #1400
Thank you so much! @cicku
I have successfully created the geojson file. Separately, I would like to submit a PR.

[2022-04-28 23:09] gdt commented on #1446
I think it makes sense to keep imagery until the local mappers think it is pointless.  In Massachusetts, we have 2019 and 2021, plus older, and 2019 is highly useful, as tree occulsion or zenith angle is often better (often not).  Particularly if one can get a rough sense that not much has changed from either the 2021 or actually having knowledge of construction or not, I end up using the 2019 to

[2022-04-29 22:12] arch0345 opened #1506 "USGS Imagery should include the whole US"
Currently the geojson for [USGS Imagery](https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/north-america/us/USGSImagery.geojson) only covers the contiguous United States. However, this imagery also covers other parts of the US (namely Alaska, Hawaii, Puerto Rico, US Virgin Islands, Guam, Northern Mariana Islands, and American Samoa).

[2022-05-01 06:48] scottAnselmo opened #1507 "North Carolina OneMap Latest Orthoimagery broken"
**Problem:**

Both the _NC OneMap Latest Orthoimagery (Infrared)_ and _NC OneMap Latest Orthoimagery (Natural)_ do not return imagery.

**How to Replicate:**

1. Open up iD where the imagery is available such as: https://www.openstreetmap.org/edit?editor=id&way=118493442#map=20/35.52652/-82.95962
2. Select both imagery layers
3. Validate that black tiles are returned for both layers

**Other Notes

[2022-05-02 04:28] grischard commented on #1506
Is the JOSM imagery index polygon correct?

[2022-05-02 05:43] arch0345 commented on #1506
No, [it also](https://josm.openstreetmap.de/mapsview?entry=USGS%20Imagery) only includes the contiguous United States.

[2022-05-03 14:40] cicku commented on #1507
Hi,

Thank you for the issue.

It was already fixed via https://github.com/osmlab/editor-layer-index/commit/d16fb614303b3eae2f1cdaaeec07a54bfa9ffddd. But iD has not released a new version for a while so the wrong URL is still there.

[2022-05-03 14:40] #1507 closed, assigned to nobody

[2022-05-05 08:54] rbuffat commented on #1507
CC @tyrasd

[2022-05-15 17:30] #1035 closed, assigned to nobody

[2022-05-15 17:32] cicku commented on #506
Yes I’m thinking about changing as well.

Will put this on todo very soon.

[2022-05-17 13:59] sommerluk commented on #157
Apparently, this imagery is no longer available. It seems that the whole service at http://geoxxx.agrocampus-ouest.fr does not respond any more.

@stlejer-morvrini Do you know if this is a temporary or a permanent issue?

[2022-05-19 11:20] andrewharvey commented on #1447
`imagery.xml` also allows people to choose to use ELI in JOSM rather than JOSM's index, I was using it for a while.

[2022-05-19 11:25] andrewharvey commented on #1451
Maxar imagery isn't in this index, it's hard coded into iD, therefore the translation should happen within iD.

[2022-05-19 11:25] #1451 closed, assigned to nobody

[2022-05-21 16:02] #481 closed

[2022-05-25 12:11] CorruptComputer opened #1517 "Layers 'NC OneMap Latest Orthoimagery (Infrared)' and 'NC OneMap Latest Orthoimagery (Natural Color)' do not work"
The editor defaults to these layers in some places, and they do not load anything but a black background.
Could they be removed, or at least made to not be the default?

Screenshot of the issue:
![image](https://user-images.githubusercontent.com/5573038/170258295-8c621a59-d0f6-4270-8a4b-6748f0a278b7.png)

OSM link to location where the issue is present:
https://www.openstreetmap.org/edit#map=20/35

[2022-05-26 08:49] thibaultmol opened #1518 "NL's pdok layer has incorrect region"
The imagery in the netherland 'pdok' seems to have an area of Netherlands with a buffer region around it. Maybe in the past they used to take imagery outside of the Netherlands, but atleast the most recent one seems to only be the Netherlands.
So the boundary box should be modified to not go over other countries like Belgium anyway, because the imagery doesn't show anything here.
![image](https://

[2022-05-26 13:49] Pikse commented on #691
Currently the latest Maa-amet imagery is from 2020/2021. While Esri still has Maa-amet imagery from 2018/2019 (for zoom levels or parts of the country where Esri does't use imagery from some other source).

So I think we shouldn't set ESRI as the "best" source for Estonia, and instead in afore-mentioned pull request I've proposed the following: adjust WMS URL for current "best" source, so that its

[2022-05-27 16:58] cicku commented on #1517
Duplicate of #1507

[2022-05-27 16:58] #1517 closed, assigned to cicku

[2022-05-27 16:59] cicku commented on #1517
BTW Infrared layer is not broken. If it does not load, it means the server is overloaded.

[2022-05-28 11:56] tyrasd commented on #1492
Today the PCN 2006 and 2012 layers work for me. The service could have been just temporarily down.

[2022-05-28 14:44] ElDavoo commented on #1492
why?? how??? it does not work for me. i get timed out in iD.

[2022-05-28 15:36] Mahabarata commented on #1451
??? Sorry I don't understand.
I know the Maxar imagery is not in this index, my issue is to ask to add it !

[2022-05-28 17:06] grischard commented on #1451
You should open an issue in https://github.com/openstreetmap/iD/

[2022-05-29 12:51] simonpoole opened #1521 "Linking to icons in the repo leaks PI to github/microsoft"
For a number of layers icons required for attribution are stored in this repo and linked to from the configuration (for example for the OSM carto layer), this leads to PI leakage to the operators of github when an app requests the icon on behalf of an user. This might be acceptable for layers which by definition leak data to commercial providers, but would seem to be rather problematic for a tile

[2022-05-30 10:15] simonpoole commented on #1521
Note that an alternative approach would be to save the icons on the OSM wiki (or something else operated by the OSMF, we also have some AWS storage iirc).

[2022-05-30 11:56] rbuffat commented on #1521
In the past @grischard implemented checks to strip the inline icons in order to reduce the file size.  I could imagine that a small size of the geojson is/was something that was favored by iD. At least it looks as if the file size was one of the main drivers behind the [imagery-index project](https://github.com/ideditor/imagery-index/blob/main/README.md#details).

CC @tyrasd @bhousel

See the foll

[2022-05-30 12:04] simonpoole commented on #1521
@rbuffat I fully support the size argument (though for me it is mainly a question of how long it takes to read and parse the file once), but from a data protection point of view it should be possible to start off with a source that doesn't increase the minimum required exposure of PI (aka the OSM standard layer), and then the users can be informed when they switch layers to something else.

The ot

[2022-05-30 13:07] tyrasd commented on #1521
For the osm carto layer we could simply use https://wiki.openstreetmap.org/w/images/thumb/7/79/Public-images-osm_logo.svg/24px-Public-images-osm_logo.svg.png

<hr>

Please excuse me to slightly extend the scope of this issue, but I guess this could be relevant: Isn't loading the index from github (e.g. https://osmlab.github.io/editor-layer-index/imagery.geojson) also problematic in the same way?[^

[2022-05-30 13:48] simonpoole commented on #1521
Yepp, Vespucci includes the current version in the APK, so similar to iD, but updating manually will fetch the configuration from this repo, see http://vespucci.io/help/en/Privacy/

[2022-05-30 17:44] tyrasd commented on #1492
OK, the service actually seems to be quite unreliable. Two days ago it worked fine for me, but today I get a mix of tiles that load successfully but also a lot of `503 Service Unavailable` errors (the error message includes that: _The server is temporarily unable to service your request due to […] capacity problems. Please try again later._). I didn't see any requests time out, though.

//cc @napo

[2022-05-30 18:41] rbuffat commented on #1492
@tyrasd The server seems to have quite strict limits regarding requests: https://wiki.openstreetmap.org/wiki/Italy/PCN#Prevenire_il_blocco_dell'accesso_al_server_WMS

AFAIK iD sends a request for each TMS tile, thus this limit is reached quite fast.

[2022-05-30 18:49] rbuffat commented on #1521
Pushing the repo to an OSM server would also ensure that we could have control over the URL the imagery* files can be retrieved. Currently, the URL can change when Github decides to change something.

[2022-05-31 20:42] sommerluk opened #1522 "Layer “BJ / Benin: Cotonou Pleiade 2016” should be removed"
Layer “BJ / Benin: Cotonou Pleiade 2016” should be removed.

It has been added in #157 a couple of years ago. At this time, it was the only available imagery of this region. Therefore, it is marked as “best image”.

Currently, the image is not available any more. It seems that the whole imagery server is down. I did not get an answer from @stlejer-morvrini if this is a temporary or permanent issue

[2022-06-01 14:08] grischard commented on #1521
@Firefishy could we set up a reverse proxy for these, say on imagery.openstreetmap.org?

[2022-06-01 14:59] Firefishy commented on #1521
Yes, I can setup hosting or proxy for this.

[2022-06-03 14:04] larmax commented on #751
Hi, could the layer called "Turun Ilmakuva 2021" (Turku aerial imagery 2021) be added? It shouldn't replace the old one as that covers a larger area. Not sure how to get the bbox though.

[2022-06-04 16:12] Mahabarata commented on #1451
Ok, thanks

[2022-06-05 09:01] dbadura opened #1525 "Geoportal 2: Ewidencja adresów budynków oraz nazw ullc is broken."
Recently I noticed that in ID editor the mentioned layer is broken.
The `Ewidencja budynków WMS` layer works on Geoportal (the official portal for geo related data created by goverment).

Error from browser:
[code]

[2022-06-07 10:14] larmax opened #1530 "Request: Turku aerial imagery 2021"
Hi, could the layer called "Turun Ilmakuva 2021" (Turku aerial imagery 2021) be added? It shouldn't replace the old one as that covers a larger area. Not sure how to get the bbox though.

_Originally posted by @larmax in https://github.com/osmlab/editor-layer-index/issues/751#issuecomment-1145998425_

**URL of the imagery**

https://opaskartta.turku.fi/TeklaOGCWeb/WMS.ashx

Description page: https

[2022-06-08 19:20] boothym commented on #1362
@Cj-Malone would it be possible to create a PR to add the newest OS Local from April 2022? It seems to be located at
https://{switch:a,b,c}.os.openstreetmap.org/layer/gb_os_om_local_2022_04/{zoom}/{x}/{y}.png

[2022-06-08 20:19] Cj-Malone commented on #1362
<del>Yeah, I can do that soon.</del> Opened #1534

Do we know who runs os.osm.org? Maybe we could get a `latest` redirect?

[2022-06-08 20:27] boothym commented on #1362
Thanks. I think it must be Grant aka Firefishy as mentioned above.

I've just found where it was committed a couple of weeks ago.  https://github.com/openstreetmap/chef/commit/be28146ca2e5f5c3a11d9cb6b57d6287b2abb1d8

[2022-06-09 08:41] derkrasseleo opened #1535 "Request: New orthophotos for styria/austria"
When **requesting the addition of an imagery layer**, please provide the following information. Otherwise, delete the text and type your issue.

## URL of the imagery
https://gis.stmk.gv.at/image/services/OGD_DOP/Orthofotos_akt/ImageServer/WMSServer?&REQUEST=GetMap&LAYERS=Orthofotos_akt&STYLES=&CRS={proj}&BBOX={bbox}&WIDTH={width}&HEIGHT={height}&FORMAT=image/png

## Two letter country code
AT

##

[2022-06-15 16:44] simonpoole opened #1539 "Don't include Bing entry in generated configurations"
For discussion: ELI contains a dummy entry for Bing that even in the best of all scenarios can only be used to create an actual entry by duplicating it and adding a proper URL and even then it still needs hardwired special treatment to retrieve the meta data from Bing, with other words it is silly to include it in actual configuration files.

See https://github.com/MarcusWolschon/osmeditor4android

[2022-06-15 17:03] bhousel commented on #1539
From what I remember the dummy entries are more used for translation string sources than as actual imagery sources.
But yeah this index should support the dummy sources better, maybe with a dedicated type and skip the url template.

[2022-06-23 10:00] boothym opened #1544 "Update bbox for OSM FR styles"
As you can see on https://osmlab.github.io/editor-layer-index/ there are three OSM FR styles - Basque, Breton, Occitan - which have a large bbox covering about half of Europe rather than just France.

Could someone please update these layers so that a smaller (ie one just covering France) bbox is used?

[2022-06-27 02:54] cicku commented on #1522
Will remove later.

[2022-07-07 07:04] pnorman opened #1550 "Don't use SVN for FR-Cadastre icon"
https://github.com/osmlab/editor-layer-index/blob/6c1d2877943ef57997c9d85752eb75c3bc2edda0/sources/europe/fr/FR-Cadastre.geojson?short_path=3d31c0c#L16

SVN is not a content delivery network, so was never well-suited for icons, but the plan is to migrate away from running SVN.

ref https://github.com/openstreetmap/operations/issues/665

[2022-07-07 14:19] #1550 closed, assigned to nobody

[2022-07-07 17:21] grischard commented on #1447
Potlatch 3 also uses `imagery.json`

[2022-07-08 09:33] sommerluk commented on #1522
Any news on this?

Because of this image no longer available, and because it's marked as "best" image, iD users get currently a black background instead of satellite imagery in Cotonou.

[2022-07-10 17:29] #1522 closed, assigned to nobody

[2022-07-11 08:38] sommerluk commented on #1522
Thanks a lot!

[2022-08-03 15:28] #983 closed, assigned to nobody

[2022-08-03 21:12] Jdgat opened #1561 "New Imagery for Monongalia County, WV, US"
After a year-ish of requesting from my colleagues that the license terms be updated on our most recent county imagery to allow OSM usage, I have succeeded. Please see below:

## URL of the imagery
https://gis.morgantownwv.gov/image/services/Imagery/Monongalia_County_2022_Aerial_Imagery/ImageServer/WMSServer?request=GetCapabilities&service=WMS

## Two letter country code
US

## Desired layer name
M

[2022-08-03 23:48] 1ec5 commented on #1561
[Here’s a privacy policy](https://www.morgantownwv.gov/privacy/) that’s served from the same domain, albeit not the same software.

[2022-08-04 03:43] cicku commented on #1561
Website down, will handle later.

[2022-08-04 05:29] 1ec5 commented on #1561
Unfortunately, it looks like everything under [the Imagery folder](https://gis.morgantownwv.gov/arcgis/rest/services/Imagery/) is behind a login wall. ([Other services](https://gis.morgantownwv.gov/arcgis/rest/services/) are accessible.) Either this is the wrong URL or the permissions need to be adjusted in order for users to be able to access the iamgery.

[2022-08-04 10:43] Jdgat commented on #1561
Nice find on that privacy policy - it seems like it was developed for a different sandbox long ago. In general, is that policy OK? I can work to develop a new one for just our GIS.

Yes, seems our server went down. Not a great start! Let me look into it

[2022-08-04 11:14] Jdgat commented on #1561
Well, looks like the server wasn't actually down after all. Public location of the imagery's overview is here: https://gis.morgantownwv.gov/portal/home/item.html?id=6a31d90f92af4b76b28ac4b1667487aa

Still seems like the actual service is in a non-public folder, however. I'll work with my GIS analyst to update that when he returns to work and post here when we correct it.

[2022-08-04 11:16] Jdgat commented on #1561
This appears open to public: https://gis.morgantownwv.gov/image/rest/services/Imagery/Monongalia_County_2022_Aerial_Imagery/ImageServer

[2022-08-04 12:25] Jdgat commented on #1561
OK, so, intricacies of ArcGIS server are at play here... https://enterprise.arcgis.com/en/server/latest/publish-services/windows/communicating-with-a-wms-service-in-a-web-browser.htm

Seems we can get it to work by adding parameters to the URL - maybe getmap is the request we need to make?

[2022-08-04 12:26] Jdgat commented on #1561
https://gis.morgantownwv.gov/image/services/Imagery/Monongalia_County_2022_Aerial_Imagery/ImageServer/WMSServer?request=GetCapabilities&service=WMS

[2022-08-04 12:27] Jdgat commented on #1561
I updated the issue with the correct link; sorry for the confusion

[2022-08-04 12:31] cicku commented on #1561
Can you update your comments at the same place instead of leaving a new one for each update...? I personally don't think it is something urgent so you can sort everything out and update us when it is ready

[2022-08-04 12:32] Jdgat commented on #1561
@cicku Thank you for the direction, sorry about the excessive email notifications.

[2022-08-04 12:36] cicku commented on #1561
Please consider using Edit in your comments, OK? People watching the project have received 9 emails/comments.

![image](https://user-images.githubusercontent.com/686438/182848325-e4105539-a312-4471-80cf-40e2cd30b322.png)

[2022-08-12 18:52] GoedendagMC opened #1566 "South Tyrol Orthofoto error"
When trying to edit, for example https://www.openstreetmap.org/edit#map=17/46.84214/12.23228 and selecting any of the "South Tyrol" options, the screen goes black. https://osmlab.github.io/editor-layer-index/ Here one can look up the existing URLs. http://daten.buergernetz.bz.it/de/organization/provbz?q=orthofoto&sort=score+desc%2C+metadata_modified+desc Here one can look up what the correct URLs

[2022-08-15 03:43] cicku commented on #1032
@c-leitner updates?

[2022-08-16 02:54] cicku commented on #1506
Alaska: https://github.com/osmlab/editor-layer-index/commit/fb1fd10e1f4cd8c93b4faec8a0871fb2029c2bf9

[2022-08-17 01:41] cicku commented on #1506
@rbuffat I added the Alaska but the check script returned an error saying that the bbox is not on the shell...Which I worry if this will cause any issue because the bbox extends into the Eestern Hemisphere?

![image](https://user-images.githubusercontent.com/686438/185015922-7e874f94-ac7d-4ef9-95fd-85d9b3bfca28.png)

[2022-08-24 13:36] cicku commented on #1561
I'm finding the license text here. Where did you get it?

[2022-08-24 13:49] Jdgat commented on #1561
@cicku, not sure I understand your question. I wrote it based on the licensing language presented as an example on the OSM wiki. I then presented the language to the consortium of government entities that owns the imagery and they agreed to add it to the imagery service. See language here, in the item details for the WMS: https://gis.morgantownwv.gov/portal/home/item.html?id=f2830b58cd894fa0a0712e

[2022-08-24 17:28] cicku commented on #1561
Very cool, this page is what I need (did not find it in Google).

I will submit a PR for this imagery soon.

[2022-08-25 14:29] tyrasd commented on #1566
This one should already have been "fixed" with e7998818e1f77b3d127f17928cfb632b22c2b043. Can you perhaps double-check whether the new URLs work as expected for you?

Unfortunately, the above mentioned fix has not yet been rolled out in form of a released "stable" version of iD yet.

[2022-08-27 14:50] #1530 closed, assigned to cicku

[2022-08-29 01:00] #1561 closed, assigned to cicku

[2022-08-29 08:36] rbuffat commented on #1506
@cicku I try to look at this during the next few days. Sorry, I'm currently a bit too occupied by other things.

[2022-08-30 14:32] grischard commented on #1506
If going over the 180th meridian creates an issue, the polygon can be split in two on it.

[2022-09-01 03:55] #1492 closed, assigned to nobody

[2022-09-02 09:34] 1ec5 commented on #617
The 2018 layer is [still available from the county](https://gis.greenecountyohio.gov/webgis/rest/services/Aerials/AerialView2018/MapServer). The county just moved their domain from .oh.us to the more fashionable .gov.

[2022-09-02 09:49] 1ec5 commented on #617
Based on [this article](https://storymaps.arcgis.com/stories/b0557df893784191a92511b38858455d#ref-n-GO0m6i), the [2020](https://gishub-gimsoh29.opendata.arcgis.com/maps/GIMSOH29::2020-aerial-view/about) and [2021](https://gishub-gimsoh29.opendata.arcgis.com/maps/GIMSOH29::2021-aerial-view/about) imagery might also be in the public domain by virtue of being purchased through OSIP.

[2022-09-02 15:01] rbuffat commented on #1506
@cicku I could not reproduce the `the bbox is not on the shell` issue. In https://github.com/osmlab/editor-layer-index/commit/fb1fd10e1f4cd8c93b4faec8a0871fb2029c2bf9 the issue was that when changing from Polygon another layer of [ ] needs to be added:

<details>

</details>

[2022-09-02 15:04] cicku commented on #1506
I reverted my MultiPolygon change since it was generated from other tools.

<details>
Run find sources -name \*.geojson | xargs python scripts/check.py
/home/runner/work/editor-layer-index/editor-layer-index/scripts/check.py:120: UserWarning: sources/europe/no/KartverketBuildings.geojson icon should be disembedded to save 1.15 KB
  warnings.warn(f"{filename} icon should be disembedded to save {rou

[2022-09-02 15:05] rbuffat commented on #1506
In https://github.com/osmlab/editor-layer-index/pull/1576 I added your added Polygon and the check seems fine.

[2022-09-02 15:47] rbuffat commented on #1506
This is the same issue. For Polygon Geojson uses an array of rings.  The first ring is the outer area (=shell), each subsequent ring are holes.  A ring is encoded as `[ [lon1, lat1], [lon2, lat2], ..]`.

Thus in your case the second ring (the Alaska part), is considered a hole. But as it is outside of the mainland US, it is outside of the shell.

As Polygons are arrays of rings, and Multipolygon a

[2022-09-02 22:22] GoedendagMC commented on #1566
It worked! Thanks.

[2022-09-02 22:22] #1566 closed, assigned to tyrasd

[2022-09-04 17:35] #1525 closed, assigned to nobody

[2022-09-06 14:11] #1364 closed, assigned to nobody

[2022-09-07 14:03] cicku commented on #1506
Oh thanks for the answer, it appears that I may have a format issue.

Closing as the issue is solved

[2022-09-07 14:03] #1506 closed, assigned to rbuffat

[2022-09-08 13:14] 501Ghost opened #1585 "New layer request: BRP Gewaspercelen (NL)"
## URL of the imagery
https://service.pdok.nl/rvo/brpgewaspercelen/wms/v1_0?FORMAT=image/png&TRANSPARENT=TRUE&VERSION=1.3.0&SERVICE=WMS&REQUEST=GetMap&LAYERS=BrpGewas&STYLES=&CRS={proj}&WIDTH={width}&HEIGHT={height}&BBOX={bbox}

## Two letter country code
NL

## Desired layer name
BRP - Gewaspercelen

## License
CCO

(Public domain)

## Is the license compatible with OSM?
Yes (see https://wiki.ope

[2022-09-09 03:11] arch0345 commented on #1506
It appears that only Alaska, Puerto Rico, and US Virgin Islands were added. USGS Imagery also covers Hawaii, Guam, and American Samoa.

Edit: it looks like imagery in Northern Mariana Islands isn't visible at higher zoom levels
<img width="618" alt="image" src="https://user-images.githubusercontent.com/85302075/189543459-79b1dd3b-3e83-49df-bef3-cee0f21dde60.png">

[2022-09-10 01:47] hlfan commented on #620
Esri uses two different imageries in Vienna, one with 8cm resolution (zoom level 21) from march 2017 as per [Esri Metadata](https://arcg.is/r5ma90 "popup on map").
The other one is the current yearly 15cm orthophoto provided by the city.

Here a comparison of some of the imagery at `48.1716,16.3972`:
| Esri imagery | Comparison |
| -- | -- |
| [esri v2021](https://services.arcgisonline.com/arcgis/

[2022-09-11 15:39] cicku commented on #1506
Yes you are right, but USGS imagery is not very useful in these areas considering its clarity there. I will add.

[2022-09-19 03:07] cicku commented on #1257
I'm thinking of removing them completely from this repo. My opinion is that these imageries (the oldest is from 100+ years ago) serve 0 point in the 21st century. Using them to update OSM is literally committing vandalism without exception unless Bing/Esri/Mapbox never opens UK imagery to the public.

They can be dumped to OpenHistoricalMap if needed.

[2022-09-19 07:04] tommycrock commented on #1257
If we had access to modern high resolution OS maps I would be inclined to agree with you. Using them on their own nowadays is unhelpful. Using them in combination with survey and aerial imagery can be very helpful. I hardly ever map without visiting an area but often use them. Also, they are maps rather than aerial imagery so often contain detail that is obscured on aerial imagery, or identifies w

[2022-09-20 03:59] cicku commented on #892
@tobwen Hello?

[2022-09-20 04:07] tobwen commented on #892
Oh sorry for the delay. I'll ask them today. Maybe I'll take a quick ride over in person, it's only a few subway stops.

**Update**
Bad news: the contact persons are out of office until 2022-10-04 / 2022-10-27. I'm trying to get the case escalated, but due to the lack of urgency, I can't promise anything.

[2022-09-24 16:52] cicku commented on #1471
Looks like port 443 is not open.

[2022-09-24 17:49] cicku commented on #1471
Oh ignore my previous comment, I know the issue now.

![image](https://user-images.githubusercontent.com/686438/192111813-7d250639-5a21-4baf-b74c-ad9b8e7bc5ed.png)

[2022-09-24 17:50] matkoniecz commented on #1471
So

guess was right :)

[2022-09-24 18:10] #1471 closed, assigned to nobody

[2022-09-30 06:14] tobwen commented on #892
I'm stupid! RVR already has responded to me back in 2020. Here is a translated version; I'll put the original version into the wiki:

[code]

The statement talks about 2019 because my request was in 2020 (that's when the 2019 images were current).  Since the RVR is very OSM-friendly and the employees as well as all affiliated cities also enter data into OSM, it is not assumed that the agreement wi

[2022-09-30 16:46] AllroadsNL opened #1600 "NRW_ortho_wms.geojson has incorrect region."
[NRW_ortho_wms.geojson](https://github.com/osmlab/editor-layer-index/blob/gh-pages/sources/europe/de/NRW_ortho_wms.geojson)

[At this location in ID editor](https://www.openstreetmap.org/edit?editor=id#map=18/51.91389/5.92079) NRW layer shows up, but for the Netherlands there is a 8 cm aerial.
Now people not so familiar with the layer get a white tile. They must always switch, every time.
10 km re

[2022-10-07 08:50] rbuffat commented on #1393
Imagery seems to work again.

[2022-10-07 08:50] #1393 closed, assigned to nobody

[2022-10-08 04:45] houtari opened #1609 "Helsinki Region Ortophoto update"
The Helsinki Region Ortophoto should be updated. The old photo is from 2017, while the newest version is from 2021. The ortophoto is licenced with CCBY40 and I've already asked for permission and documented it in github. See this [pull request](https://github.com/osmlab/editor-layer-index/pull/1608) for further details.

This photo doesn't cover exactly the same municipalities as the old one, so t

[2022-10-08 17:42] Vieja commented on #1429
Checked the source, the orthophotomap layer is unavailable and will no longer be. I will create a PR that will remove the file from the repository and mention @Asteliks

[2022-10-08 18:14] Asteliks commented on #1429
I confirm that this service is no longer available

[2022-10-08 18:14] #1429 closed, assigned to Asteliks

[2022-10-10 01:16] rbuffat commented on #1205
Imagery seems to work again.

[2022-10-10 01:16] #1205 closed, assigned to Asteliks

[2022-10-11 01:08] rbuffat opened #1616 "[Watchdog] Imagery "2018 Aerial Imagery from the City of Cape Town": sources/africa/za/SouthAfricaCoCT2018Aerial.geojson broken"
Watchdog failed for 5 consecutive days for:
"2018 Aerial Imagery from the City of Cape Town" -> [sources/africa/za/SouthAfricaCoCT2018Aerial.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/africa/za/SouthAfricaCoCT2018Aerial.geojson)

Reason:
Error: Exception: not well-formed (invalid token): line 235, column 1196

CC contributors to this imagery:
@tsmock, @grischard, @

[2022-10-11 01:08] rbuffat opened #1617 "[Watchdog] Imagery "2017 Aerial Imagery from the City of Cape Town": sources/africa/za/SouthAfricaCoCT2017Aerial.geojson broken"
Watchdog failed for 5 consecutive days for:
"2017 Aerial Imagery from the City of Cape Town" -> [sources/africa/za/SouthAfricaCoCT2017Aerial.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/africa/za/SouthAfricaCoCT2017Aerial.geojson)

Reason:
Error: Exception: not well-formed (invalid token): line 235, column 1196

CC contributors to this imagery:
@traviscibot, @rbuffat

[2022-10-11 01:08] rbuffat opened #1618 "[Watchdog] Imagery "Törökbálint orthophoto 2021": sources/europe/hu/Torokbalint-ortophoto-2021.geojson broken"
Watchdog failed for 5 consecutive days for:
"Törökbálint orthophoto 2021" -> [sources/europe/hu/Torokbalint-ortophoto-2021.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/hu/Torokbalint-ortophoto-2021.geojson)

Reason:
Error: WMS None: Exception Cannot connect to host terkep.torokbalint.hu:443 ssl:False [[SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake

[2022-10-11 01:08] rbuffat opened #1619 "[Watchdog] Imagery "Törökbálint orthophoto 2013": sources/europe/hu/Torokbalint-ortophoto-2013.geojson broken"
Watchdog failed for 5 consecutive days for:
"Törökbálint orthophoto 2013" -> [sources/europe/hu/Torokbalint-ortophoto-2013.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/hu/Torokbalint-ortophoto-2013.geojson)

Reason:
Error: WMS None: Exception Cannot connect to host terkep.torokbalint.hu:443 ssl:False [[SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake

[2022-10-11 01:08] rbuffat opened #1620 "[Watchdog] Imagery "Törökbálint orthophoto 2015": sources/europe/hu/Torokbalint-ortophoto-2015.geojson broken"
Watchdog failed for 5 consecutive days for:
"Törökbálint orthophoto 2015" -> [sources/europe/hu/Torokbalint-ortophoto-2015.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/hu/Torokbalint-ortophoto-2015.geojson)

Reason:
Error: WMS None: Exception Cannot connect to host terkep.torokbalint.hu:443 ssl:False [[SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake

[2022-10-11 01:08] rbuffat opened #1621 "[Watchdog] Imagery "Törökbálint orthophoto 2018": sources/europe/hu/Torokbalint-ortophoto-2018.geojson broken"
Watchdog failed for 5 consecutive days for:
"Törökbálint orthophoto 2018" -> [sources/europe/hu/Torokbalint-ortophoto-2018.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/hu/Torokbalint-ortophoto-2018.geojson)

Reason:
Error: WMS None: Exception Cannot connect to host terkep.torokbalint.hu:443 ssl:False [[SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake

[2022-10-11 01:08] rbuffat opened #1622 "[Watchdog] Imagery "Ukraine - Lubetska OTG 2020": sources/europe/ua/Ukraine-LubetskaOTG.geojson broken"
Watchdog failed for 5 consecutive days for:
"Ukraine - Lubetska OTG 2020" -> [sources/europe/ua/Ukraine-LubetskaOTG.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/ua/Ukraine-LubetskaOTG.geojson)

Reason:
Error: No zoom level reachable. (Tested: 11,12,13,14,17,18,19,20) Tiles might not be present at tested location: 30.709205921664818,51.69242

CC contributors to

[2022-10-11 01:08] rbuffat opened #1623 "[Watchdog] Imagery "Ukraine - Mykolaiv 2018": sources/europe/ua/Ukraine-Mykolaiv2018(mbk).geojson broken"
Watchdog failed for 5 consecutive days for:
"Ukraine - Mykolaiv 2018" -> [sources/europe/ua/Ukraine-Mykolaiv2018(mbk).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/ua/Ukraine-Mykolaiv2018(mbk).geojson)

Reason:
Error: No zoom level reachable. (Tested: 11,12,13,14,18,19,20,21) Tiles might not be present at tested location: 32.01054651169028,46.93127539575622

CC

[2022-10-11 01:08] rbuffat opened #1624 "[Watchdog] Imagery "© GeoBasis-DE/LVermGeo LSA, ATKIS_BU": sources/europe/de/SaxonyAnhalt_ATKIS_BU.geojson broken"
Watchdog failed for 5 consecutive days for:
"© GeoBasis-DE/LVermGeo LSA, ATKIS_BU" -> [sources/europe/de/SaxonyAnhalt_ATKIS_BU.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/SaxonyAnhalt_ATKIS_BU.geojson)

Reason:
Error: WMS -: URL: https://www.geodatenportal.sachsen-anhalt.de/wss/service/INSPIRE_LVermGeo_ATKIS_BU/guest?SERVICE=WMS&REQUEST=GetCapabilities&LAN

[2022-10-11 01:08] rbuffat opened #1625 "[Watchdog] Imagery "Gothenburg Hillshade": sources/europe/se/gothenburg_dtm.geojson broken"
Watchdog failed for 5 consecutive days for:
"Gothenburg Hillshade" -> [sources/europe/se/gothenburg_dtm.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/se/gothenburg_dtm.geojson)

Reason:
Error: Layer 'terranglutning' does not support style 'hojdmodell-v2:terranglutning'

CC contributors to this imagery:
@rbuffat

[2022-10-11 01:08] rbuffat opened #1626 "[Watchdog] Imagery "Riksantikvaren Heritage Sites overlay": sources/europe/no/RiksantikvarenHeritageSitesoverlay.geojson broken"
Watchdog failed for 5 consecutive days for:
"Riksantikvaren Heritage Sites overlay" -> [sources/europe/no/RiksantikvarenHeritageSitesoverlay.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/no/RiksantikvarenHeritageSitesoverlay.geojson)

Reason:
Error: WMS -: URL: https://kart.ra.no/arcgis/services/Distribusjon/Kulturminner20180301/MapServer/WmsServer?SERVICE=WMS&

[2022-10-11 01:08] rbuffat opened #1627 "[Watchdog] Imagery "NPD Offshore Installations overlay": sources/europe/no/NPD-Offshore-Installations-overlay.geojson broken"
Watchdog failed for 5 consecutive days for:
"NPD Offshore Installations overlay" -> [sources/europe/no/NPD-Offshore-Installations-overlay.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/no/NPD-Offshore-Installations-overlay.geojson)

Reason:
Error: Layers '58' not advertised by WMS GetCapabilities request. In rare cases WMS server do not advertise layers.

CC con

[2022-10-11 01:08] rbuffat opened #1628 "[Watchdog] Imagery "Kartverket Accessibility overlay": sources/europe/no/KartverketAccessibilityoverlay.geojson broken"
Watchdog failed for 5 consecutive days for:
"Kartverket Accessibility overlay" -> [sources/europe/no/KartverketAccessibilityoverlay.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/no/KartverketAccessibilityoverlay.geojson)

Reason:
Error: Exception: WMS service exception
Error: Exception: WMS service exception
Error: Exception: WMS service exception
Error: Except

[2022-10-11 01:08] rbuffat opened #1629 "[Watchdog] Imagery "Basemap geoportail.lu": sources/europe/lu/Luxembourg-GeoportailBasemap.geojson broken"
Watchdog failed for 5 consecutive days for:
"Basemap geoportail.lu" -> [sources/europe/lu/Luxembourg-GeoportailBasemap.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/lu/Luxembourg-GeoportailBasemap.geojson)

Reason:
Error: No zoom level reachable. (Tested: 5,6,7,8,17,18,19,20) Tiles might not be present at tested location: 6.08522751328977,49.814965

CC contribu

[2022-10-11 01:08] rbuffat opened #1630 "[Watchdog] Imagery "Przemyśl: Ortophotomap (aerial image)": sources/europe/pl/PrzemylOrtophotomap(aerialimage).geojson broken"
Watchdog failed for 5 consecutive days for:
"Przemyśl: Ortophotomap (aerial image)" -> [sources/europe/pl/PrzemylOrtophotomap(aerialimage).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/PrzemylOrtophotomap(aerialimage).geojson)

Reason:
Error: WMS None: Timeout for: http://przemysl.geoportal2.pl/map/wms/wms.php?SERVICE=WMS&REQUEST=GetCapabilities
Error: WMS 1

[2022-10-11 01:08] rbuffat opened #1631 "[Watchdog] Imagery "Przemyśl: Buildings": sources/europe/pl/PrzemylBuildings.geojson broken"
Watchdog failed for 5 consecutive days for:
"Przemyśl: Buildings" -> [sources/europe/pl/PrzemylBuildings.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/PrzemylBuildings.geojson)

Reason:
Error: WMS None: Timeout for: http://przemysl.geoportal2.pl/map/wms/wms.php?SERVICE=WMS&REQUEST=GetCapabilities
Error: WMS 1.3.0: Timeout for: http://przemysl.geoportal2.pl/m

[2022-10-11 01:08] rbuffat opened #1632 "[Watchdog] Imagery "Powiat rzeszowski: Orthophotomap (aerial image)": sources/europe/pl/PowiatrzeszowskiOrthophotomap(aerialimage).geojson broken"
Watchdog failed for 5 consecutive days for:
"Powiat rzeszowski: Orthophotomap (aerial image)" -> [sources/europe/pl/PowiatrzeszowskiOrthophotomap(aerialimage).geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/PowiatrzeszowskiOrthophotomap(aerialimage).geojson)

Reason:
Error: WMS None: Timeout for: https://powiatrzeszowski.geoportal2.pl/map/wms/wms.php?SERVICE=W

[2022-10-11 01:08] rbuffat opened #1633 "[Watchdog] Imagery "Powiat rzeszowski: Buildings": sources/europe/pl/PowiatrzeszowskiBuildings.geojson broken"
Watchdog failed for 5 consecutive days for:
"Powiat rzeszowski: Buildings" -> [sources/europe/pl/PowiatrzeszowskiBuildings.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/PowiatrzeszowskiBuildings.geojson)

Reason:
Error: WMS None: Timeout for: https://powiatrzeszowski.geoportal2.pl/map/wms/wms.php?SERVICE=WMS&REQUEST=GetCapabilities
Error: WMS 1.3.0: Timeout

[2022-10-11 01:08] rbuffat opened #1634 "[Watchdog] Imagery "Powiat stalowowolski: Buildings": sources/europe/pl/PowiatstalowowolskiBuildings.geojson broken"
Watchdog failed for 5 consecutive days for:
"Powiat stalowowolski: Buildings" -> [sources/europe/pl/PowiatstalowowolskiBuildings.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/pl/PowiatstalowowolskiBuildings.geojson)

Reason:
Error: Layers 'centroidy' not advertised by WMS GetCapabilities request. In rare cases WMS server do not advertise layers.

CC contributor

[2022-10-11 01:08] rbuffat opened #1635 "[Watchdog] Imagery "Sicily - Italy": sources/europe/it/Sicily-Italy.geojson broken"
Watchdog failed for 5 consecutive days for:
"Sicily - Italy" -> [sources/europe/it/Sicily-Italy.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/it/Sicily-Italy.geojson)

Reason:
Error: WMS -: URL: http://map.sitr.regione.sicilia.it/ArcGIS/services/WGS84_F33/Ortofoto_ATA20072008_f33/MapServer/WMSServer?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse enc

[2022-10-11 06:56] SafetyIng commented on #1624
Yes, I am aware of the error and have already reported it to the authority providing the data. There is an update of all geo software since a few weeks and therefore there is currently a restriction of the service.

[2022-10-11 09:46] rbuffat commented on #1624
Thanks for the quick reply!

The issue was created by an automatic test script, which was broken for a long time (https://rbuffat.github.io/eli_watchdog/). In case it resolves itself this issue should be closed automatically.

[2022-10-12 01:23] rbuffat opened #1636 "[Watchdog] Imagery "IGN (WMS)": sources/south-america/ar/IGN-vector_wms.geojson broken"
Watchdog failed for 5 consecutive days for:
"IGN (WMS)" -> [sources/south-america/ar/IGN-vector_wms.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/ar/IGN-vector_wms.geojson)

Reason:
Error: Timeout for: https://wms.ign.gob.ar/geoserver/ows?SERVICE=wms&REQUEST=GetCapabilities

CC contributors to this imagery:
@Zalitoar, @rbuffat

[2022-10-13 01:14] rbuffat commented on #1631
Imagery seems to work again.

[2022-10-13 01:14] #1631 closed, assigned to nobody

[2022-10-13 01:14] rbuffat commented on #1630
Imagery seems to work again.

[2022-10-13 01:14] #1630 closed, assigned to nobody

[2022-10-13 03:27] cicku commented on #1619
False positive.

[2022-10-13 03:27] #1619 closed, assigned to nobody

[2022-10-13 03:27] cicku commented on #1620
False positive.

[2022-10-13 03:27] #1620 closed, assigned to nobody

[2022-10-13 03:28] cicku commented on #1618
False positive.

[2022-10-13 03:28] #1618 closed, assigned to nobody

[2022-10-13 03:28] cicku commented on #1621
False positive.

[2022-10-13 03:28] #1621 closed, assigned to nobody

[2022-10-13 07:25] Zalitoar commented on #1636
Hi rbuffat, the service is online. Maybe was down for some minutes or with some major delay in the capabilities response.

[2022-10-13 18:22] rbuffat commented on #1636
Indeed, that looks strange. I need to figure out why the watchdog script fails.

[2022-10-14 01:22] rbuffat commented on #1624
Imagery seems to work again.

[2022-10-14 01:22] #1624 closed, assigned to nobody

[2022-10-16 01:20] rbuffat opened #1642 "[Watchdog] Imagery "TEC bus lines": sources/europe/be/TECbuslines.geojson broken"
Watchdog failed for 5 consecutive days for:
"TEC bus lines" -> [sources/europe/be/TECbuslines.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/be/TECbuslines.geojson)

Reason:
Error: WMS -: URL: https://geodata.tec-wl.be/arcgis/services/Lignes/MapServer/WMSServer?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.3.0: URL: https://geodata

[2022-10-16 01:20] rbuffat opened #1643 "[Watchdog] Imagery "TEC bus stops": sources/europe/be/TECbusstops.geojson broken"
Watchdog failed for 5 consecutive days for:
"TEC bus stops" -> [sources/europe/be/TECbusstops.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/be/TECbusstops.geojson)

Reason:
Error: WMS -: URL: https://geodata.tec-wl.be/arcgis/services/Poteaux/MapServer/WMSServer?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.3.0: URL: https://geodat

[2022-10-16 07:43] jbelien commented on #1642
Hello @rbuffat ,

Thanks for this notice.
I've just checked with official documentation (https://geoportail.wallonie.be/catalogue/a5dc5bc7-3c37-4783-9c41-27ce2f83f3ae.html) and the link seems to be correct.
Probably a temporary issue with the service. I'll keep an eye on it!

[2022-10-16 07:44] jbelien commented on #1643
Hello @rbuffat ,

Thanks for this notice.
I've just checked with official documentation (https://geoportail.wallonie.be/catalogue/47676af7-aab3-4d2e-9c9c-cd86e7ad7241.html) and the link seems to be correct.
Probably a temporary issue with the service. I'll keep an eye on it!

[2022-10-16 15:47] rbuffat commented on #1643
@jbelien Thanks for checking! The issue was created automatically by a script that checks daily the availability of the imagery: https://rbuffat.github.io/eli_watchdog  (the script was broken for some time). If the service is online again, this issue should be closed automatically.  Thus, let's keep the issue open for now, hopefully, it will resolve itself.

[2022-10-16 15:48] rbuffat commented on #1642
See https://github.com/osmlab/editor-layer-index/issues/1643#issuecomment-1279995563

[2022-10-18 01:16] rbuffat commented on #1643
Imagery seems to work again.

[2022-10-18 01:16] rbuffat opened #1647 "[Watchdog] Imagery "Sollentuna Orthophoto": sources/europe/se/SollentunaOrthophoto.geojson broken"
Watchdog failed for 5 consecutive days for:
"Sollentuna Orthophoto" -> [sources/europe/se/SollentunaOrthophoto.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/se/SollentunaOrthophoto.geojson)

Reason:
Error: WMS -: URL: https://kartor.sollentuna.se/bios/wms/site/web/WMS_ORTOFOTO2016?SERVICE=WMS&REQUEST=GetCapabilities Error: No Capabilities Element present: Root

[2022-10-18 01:16] #1643 closed, assigned to nobody

[2022-10-18 01:16] rbuffat commented on #1642
Imagery seems to work again.

[2022-10-18 01:16] #1642 closed, assigned to nobody

[2022-10-22 16:07] cicku commented on #1521
When you fetch the list hosted on Github, you already leak yourself?

[2022-10-23 01:15] rbuffat commented on #1636
Imagery seems to work again.

[2022-10-23 01:15] #1636 closed, assigned to nobody

[2022-10-24 01:24] rbuffat opened #1651 "[Watchdog] Imagery "USSR - Latvia": sources/europe/lv/USSR-Latvia.geojson broken"
Watchdog failed for 5 consecutive days for:
"USSR - Latvia" -> [sources/europe/lv/USSR-Latvia.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/lv/USSR-Latvia.geojson)

Reason:
Error: WMS None: Timeout for: http://www.gisnet.lv/cgi-bin/topo?SERVICE=WMS&REQUEST=GetCapabilities
Error: WMS 1.3.0: Timeout for: http://www.gisnet.lv/cgi-bin/topo?SERVICE=WMS&REQUEST=GetCa

[2022-10-25 01:20] rbuffat opened #1652 "[Watchdog] Imagery "Moldova Ortophoto (2016) / Geoportal.md Reserve Server": sources/europe/md/Ortophoto_2016_RM_Reserve-Server.geojson broken"
Watchdog failed for 5 consecutive days for:
"Moldova Ortophoto (2016) / Geoportal.md Reserve Server" -> [sources/europe/md/Ortophoto_2016_RM_Reserve-Server.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/md/Ortophoto_2016_RM_Reserve-Server.geojson)

Reason:
Error: WMS -: URL: https://geoportal.md/ro/default/wms/public?SERVICE=WMS&REQUEST=GetCapabilities Error: No

[2022-10-25 01:20] rbuffat opened #1653 "[Watchdog] Imagery "© GeoBasis-DE/LVermGeo LSA, ATKIS_BU": sources/europe/de/SaxonyAnhalt_ATKIS_BU.geojson broken"
Watchdog failed for 5 consecutive days for:
"© GeoBasis-DE/LVermGeo LSA, ATKIS_BU" -> [sources/europe/de/SaxonyAnhalt_ATKIS_BU.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/SaxonyAnhalt_ATKIS_BU.geojson)

Reason:
Error: WMS -: URL: https://www.geodatenportal.sachsen-anhalt.de/wss/service/INSPIRE_LVermGeo_ATKIS_BU/guest?SERVICE=WMS&REQUEST=GetCapabilities&LAN

[2022-10-25 01:20] rbuffat commented on #1651
Imagery seems to work again.

[2022-10-25 01:20] #1651 closed, assigned to nobody

[2022-10-26 01:35] rbuffat commented on #1652
Imagery seems to work again.

[2022-10-26 01:35] #1652 closed, assigned to nobody

[2022-10-26 03:41] cicku commented on #1625
False positive.

[2022-10-26 03:41] #1625 closed, assigned to nobody

[2022-10-30 01:04] Manu1400 opened #1654 "New Imagery for Apeldoorn, NL"
When **requesting the addition of an imagery layer**, please provide the following information. Otherwise, delete the text and type your issue.

## URL of the imagery
[(gis.apeldoorn.nl)](https://gis.apeldoorn.nl/portal/apps/webappviewer/index.html?id=5bcc0a0cd20f48d5bfb98501d44d54ff)

## Two letter country code
NL

## Desired layer name
Apeldoorn city (19 march 2022)
(or Apeldoorn city, 19-03-202

[2022-10-31 01:25] rbuffat opened #1655 "[Watchdog] Imagery "IGN (WMS)": sources/south-america/ar/IGN-vector_wms.geojson broken"
Watchdog failed for 5 consecutive days for:
"IGN (WMS)" -> [sources/south-america/ar/IGN-vector_wms.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/south-america/ar/IGN-vector_wms.geojson)

Reason:
Error: Timeout for: https://wms.ign.gob.ar/geoserver/ows?SERVICE=wms&REQUEST=GetCapabilities

CC contributors to this imagery:
@rbuffat, @Zalitoar

[2022-11-03 01:15] rbuffat opened #1659 "[Watchdog] Imagery "IndianaMap Orthoimagery 2017": sources/north-america/us/in/IndianaMap2017.geojson broken"
Watchdog failed for 5 consecutive days for:
"IndianaMap Orthoimagery 2017" -> [sources/north-america/us/in/IndianaMap2017.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/in/IndianaMap2017.geojson)

Reason:
Error: WMS None: Timeout for: https://maps.indiana.edu/arcgis/services/Imagery/Orthos_2017/MapServer/WmsServer?SERVICE=WMS&REQUEST=GetCapabilities
Er

[2022-11-03 01:15] rbuffat opened #1660 "[Watchdog] Imagery "IndianaMap Orthoimagery 2018": sources/north-america/us/in/IndianaMap2018.geojson broken"
Watchdog failed for 5 consecutive days for:
"IndianaMap Orthoimagery 2018" -> [sources/north-america/us/in/IndianaMap2018.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/in/IndianaMap2018.geojson)

Reason:
Error: WMS None: Timeout for: https://maps.indiana.edu/arcgis/services/Imagery/Orthos_2018/MapServer/WmsServer?SERVICE=WMS&REQUEST=GetCapabilities
Er

[2022-11-03 01:15] rbuffat opened #1661 "[Watchdog] Imagery "IndianaMap Orthoimagery 2016": sources/north-america/us/in/IndianaMap2016.geojson broken"
Watchdog failed for 5 consecutive days for:
"IndianaMap Orthoimagery 2016" -> [sources/north-america/us/in/IndianaMap2016.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/north-america/us/in/IndianaMap2016.geojson)

Reason:
Error: WMS None: Timeout for: https://maps.indiana.edu/arcgis/services/Imagery/Orthos_2016/MapServer/WmsServer?SERVICE=WMS&REQUEST=GetCapabilities
Er

[2022-11-03 07:46] 1ec5 commented on #1660
IndianaMap was transferred to [a new domain](https://www.indianamap.org/) as a result of the organization moving from the Indiana Geological and Water Survey to the Indiana Geographic Information Office. It looks like we almost addressed this move in #1314 but found a way to stay on the old URLs a little longer.

I don’t see exact equivalents to these WMS layers on the new server. However, https:/

[2022-11-03 07:47] 1ec5 commented on #1659
See https://github.com/osmlab/editor-layer-index/issues/1660#issuecomment-1301743485.

[2022-11-03 07:47] 1ec5 commented on #1661
See https://github.com/osmlab/editor-layer-index/issues/1660#issuecomment-1301743485.

[2022-11-03 23:17] cicku commented on #1660
These layers were set to be deleted by the end of the year when I initially pushed the latest to the repo.

[2022-11-04 03:57] 1ec5 commented on #1660
ArcGIS servers don’t post privacy policies, but the parent domain has [this privacy policy](https://www.in.gov/core/privacy.html).

[2022-11-05 14:51] RudyTheDev opened #1662 "Latvia - correct boundary"
Hello! How does one go about fixing the bounding polygon of a country? In this case, Latvia has several locations mapped somewhat approximately.

![lvpolybad](https://user-images.githubusercontent.com/3857299/200125536-ebf7d298-856c-4439-a178-336a8af32817.png)

It seem all the poly files are similarly incorrect.

https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/lv

Somethi

[2022-11-08 01:03] rbuffat commented on #1661
Imagery seems to work again.

[2022-11-08 01:03] rbuffat commented on #1660
Imagery seems to work again.

[2022-11-08 01:03] #1661 closed, assigned to nobody

[2022-11-08 01:03] #1660 closed, assigned to nobody

[2022-11-08 01:03] rbuffat commented on #1659
Imagery seems to work again.

[2022-11-08 01:03] #1659 closed, assigned to nobody

[2022-11-08 06:31] 1ec5 opened #1664 "Migrate IndianaMap layers to Geographic Information Office server"
We had another close call with the IndianaMap imagery briefly going offline in #1659 #1660 #1661. It’s back up now, but this exercise revealed that the newer replacement server run by the Indiana Geographic Information Office offers a much more usable version of this same imagery that isn’t washed out with an extra color channel: https://github.com/osmlab/editor-layer-index/issues/1660#issuecommen

[2022-11-09 01:03] rbuffat opened #1665 "[Watchdog] Imagery "Worms 2012": sources/europe/de/Worms-2012.geojson broken"
Watchdog failed for 5 consecutive days for:
"Worms 2012" -> [sources/europe/de/Worms-2012.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Worms-2012.geojson)

Reason:
Error: WMS -: URL: https://geoportal-worms.de/ogc/wms/luftbild-2012?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.3.0: URL: https://geoportal-worms.de/ogc/wms/luftb

[2022-11-09 01:03] rbuffat opened #1666 "[Watchdog] Imagery "Worms 2020": sources/europe/de/Worms-2020.geojson broken"
Watchdog failed for 5 consecutive days for:
"Worms 2020" -> [sources/europe/de/Worms-2020.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Worms-2020.geojson)

Reason:
Error: WMS -: URL: https://geoportal-worms.de/ogc/wms/luftbild2020?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.3.0: URL: https://geoportal-worms.de/ogc/wms/luftbi

[2022-11-09 01:03] rbuffat opened #1667 "[Watchdog] Imagery "Worms 2016": sources/europe/de/Worms-2016.geojson broken"
Watchdog failed for 5 consecutive days for:
"Worms 2016" -> [sources/europe/de/Worms-2016.geojson](https://github.com/osmlab/editor-layer-index/tree/gh-pages/sources/europe/de/Worms-2016.geojson)

Reason:
Error: WMS -: URL: https://geoportal-worms.de/ogc/wms/luftbild2016?SERVICE=WMS&REQUEST=GetCapabilities Error: Could not parse XML.
Error: WMS 1.3.0: URL: https://geoportal-worms.de/ogc/wms/luftbi